odoo/addons/mtr_module/examples/n8n_mtr_upsert_workflow.json
{
  "name": "multiple prompts",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items.map((item, idx) => {\n  const j = item.json || {};\n  const original = $items('Read Binary File1')[idx]?.json || $items('Webhook MTR Upload1')[idx]?.json || {};\n  const out = j.output || j.data?.output || j.data || j.result?.output || j.result || j;\n  return {\n    json: {\n      mtr_id: j.mtr_id || original.mtr_id || original.mtrId || '',\n      output: out,\n    }\n  };\n});\n"
      },
      "id": "3b688c0f-8e5b-4cef-a960-e7d65212f228",
      "name": "Extract Claude Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -1280
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, idx) => {\n  const j = item.json || {};\n  const text = (j.content && j.content[0] && j.content[0].text) || '';\n  let obj = {};\n  try {\n    obj = JSON.parse(text.trim());\n  } catch (e) {\n    const a = text.indexOf('{');\n    const b = text.lastIndexOf('}');\n    if (a >= 0 && b > a) {\n      try { obj = JSON.parse(text.slice(a, b + 1)); } catch (_) {}\n    }\n  }\n  return {\n    json: {\n      ...j,\n      output: obj,\n    },\n    binary: item.binary\n  };\n});\n"
      },
      "id": "c708d048-1538-4fd4-ab7e-fa0bd5e9ceda",
      "name": "Parse Claude Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claude_extract_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "904b7399-89a0-4e33-9d41-5edbb81a464e",
      "name": "Claude Extract MTR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -1568
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MQ1nawdciJsYPouf",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst promises = items.map(async (item, idx) => {\n  const j = item.json || {};\n  const original = $items('Read Binary File1')[idx]?.json || {};\n  let pdf = j.file_content_base64 || original.file_content_base64 || '';\n\n  if (!pdf) {\n    try {\n      const buf = await this.helpers.getBinaryDataBuffer(idx, 'data0');\n      pdf = buf.toString('base64');\n    } catch (e) {}\n  }\n\n  const prompt = (j.selected_prompt || j.extraction_system_message || '').toString().trim();\n  if (!pdf || !prompt) {\n    throw new Error('Missing pdf or prompt');\n  }\n\n  return {\n    json: {\n      ...original,\n      ...j,\n      file_content_base64: original.file_content_base64 || j.file_content_base64,\n      claude_extract_body: {\n        model: 'claude-sonnet-4-6',\n        max_tokens: 8192,\n        messages: [\n          {\n            role: 'user',\n            content: [\n              { type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: pdf } },\n              { type: 'text', text: prompt }\n            ]\n          }\n        ]\n      }\n    }\n  };\n});\n\nreturn Promise.all(promises);\n"
      },
      "id": "3f755904-a8fe-49ee-8178-20073d848999",
      "name": "Prepare Claude Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -1584
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map((item, idx) => {\n  const j = item.json || {};\n  const original = $items('Read Binary File1')[idx]?.json || {};\n  const text = (j.content && j.content[0] && j.content[0].text) || '';\n  let obj = {};\n  try {\n    obj = JSON.parse(text.trim());\n  } catch (e) {\n    const a = text.indexOf('{');\n    const b = text.lastIndexOf('}');\n    if (a >= 0 && b > a) {\n      try { obj = JSON.parse(text.slice(a, b + 1)); } catch (_) {}\n    }\n  }\n  return {\n    json: {\n      ...original,\n      ...j,\n      output: obj,\n    }\n  };\n});\n"
      },
      "id": "72d1578d-73af-4686-82a8-482efe86516f",
      "name": "Parse Claude Manufacturer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -1584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claude_manu_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "50b40907-dda4-4ada-9662-7f1b7282b0e6",
      "name": "Claude Detect Manufacturer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        -1584
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MQ1nawdciJsYPouf",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map((item, idx) => {\n  const j = item.json || {};\n  const original = $items('Read Binary File1')[idx]?.json || {};\n  const pdf = j.manufacturer_pdf_base64 || j.file_content_base64 || original.file_content_base64 || '';\n  if (!pdf) {\n    throw new Error('Missing manufacturer pdf');\n  }\n\n  const prompt = `You are a strict classifier for MTR manufacturer names.\nReturn ONLY valid JSON with the key \"manufacturer\".\nChoose the closest match from this list, or return \"\" if not present.\nDo not add extra keys.\n\nList:\n- JANCO_STEEL\n- CHAPEL_STEEL\n- Nucor steel-berkeley\n- Cleveland-cliffs plate llc\n- North America stainless Canada inc\n- nucor steel Norfolk\n- Nelson steel company\n- wuyang iron and steel co. ltd\n- Kocaer Celik san ve tic as\n- Novasco\n- Demir cel ik\n- gautier steel\n- ALGOMA\n- ILSENBURGER\n- INDUSTEEL\n- ATLANTIC TUBE\n- LEECOL\n- CLEVELAND CLIFF\n- NOVA TUBE\n- STEEL DYNAMICS\n- CHINA STEEL\n- NIAGARA LASALLE\n- NUCOR STEEL\n- SWVA KENTUCKY\n- THE STEEL SUPPLY\n- TUBE INVESTMENTS\n- ZHEJIANG MINGHE\n- AM/NS CALVERT\n- GERDAU\n- AECELORMITTAL\n- SWVA, INC\n- SSAB\n- GAUTIER STEEL\n- WELDED TUBE\n- STEEL WAREHOUSE\n- ALLIANCE TUBULAR\n- AMERICAN HEAVY\n- MARUCHI LEAVITT\n- JADE STERLING\n- B&T STEEL\n- EVRAZ\n- ATLAS TUBE\n- ACIER FATI\n- ALTON STEEL\n- NLMK\n- BULL MOOSE\n- VOESTALPINE STAHI\n- KOCAER CELIK SAN\n- WUYANG IRON\n- NELSEN STEEL\n- NUCOR STEEL NOR\n- NORTH AMERICAN`;\n\n  return {\n    json: {\n      ...original,\n      ...j,\n      file_content_base64: original.file_content_base64 || j.file_content_base64,\n      claude_manu_body: {\n        model: 'claude-sonnet-4-6',\n        max_tokens: 512,\n        messages: [\n          {\n            role: 'user',\n            content: [\n              { type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: pdf } },\n              { type: 'text', text: prompt }\n            ]\n          }\n        ]\n      }\n    }\n  };\n});\n"
      },
      "id": "1a37dabb-8445-4b31-b311-881c9e1e8c76",
      "name": "Prepare Claude Manufacturer Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        -1584
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "manufacturer_pdf_base64",
              "value": "={{ $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "875046ed-c268-4083-a975-c4504fb5b2da",
      "name": "Set Manufacturer PDF",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1920,
        -1584
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map(item => {\n  const j = item.json || {};\n  let prompt = (j.selected_prompt || j.extraction_system_message || '').toString().trim();\n  let prompt_missing = false;\n  if (!prompt) {\n    prompt_missing = true;\n    // Minimal safe fallback to avoid hard stop\n    prompt = 'Return {}';\n  }\n  return { \n    json: { ...j, selected_prompt: prompt, extraction_system_message: prompt, prompt_missing }\n  };\n});\n"
      },
      "id": "e2ebf783-42d8-4871-8249-695ab4e8541a",
      "name": "Validate Prompt Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -1552
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map(item => {\n  const j = item.json || {};\n  const key = (j.manufacturer_key || '').toString().trim();\n  const name = (j.manufacturer_name || '').toString().trim();\n\n  const prompts = {\n   ACIER_FATI: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents are single-page structured reports with MULTIPLE HEAT BLOCKS.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. If a value is missing \u2192 return \"\".\n3. Preserve values EXACTLY (including PSI, %, decimals).\n4. DO NOT calculate or modify values except where specified.\n5. Output MUST be strictly valid JSON.\n6. Each HEAT block = separate materialTestRecord.\n\n-------------------------------------\nENTITY SELECTION RULE (OVERRIDE)\n-------------------------------------\n\nAlways extract the entity name from PAGE 1 header.\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\nTop Section:\n- Company (FATI Steel)\n- Bill of Lading No\n- Document Date\n- Sales Order\n- PO Number\n- Customer (Sold To / Ship To)\n\nMain Body:\n- Multiple repeating HEAT BLOCKS:\n  Each block contains:\n    - Description\n    - Heat Number\n    - Steel Mill\n    - Country info\n    - Chemical table\n    - Mechanical values\n    - Certification\n\nExample blocks visible :contentReference[oaicite:1]{index=1}  \n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 entity from page header\n- address \u2192 company address block\n- contact \u2192 \"\"\n- website \u2192 \"\"\n- certificateType \u2192 \"Mill Test Report\"\n- certificateNumber \u2192 TEST CERT #\n- certificateDate \u2192 Document Date\n- article \u2192 first Description line\n- grade \u2192 MUST follow rule below\n- specifications \u2192 Certification value\n- poNumber \u2192 \"Your Purchase Order No.\"\n- customer \u2192 Sold To block\n- quantity \u2192 \"\" (not clearly defined globally)\n- size \u2192 from Description (first block)\n- netWeight \u2192 \"\"\n\n-------------------------------------\nGRADE NORMALIZATION RULE\n-------------------------------------\n\nGrade MUST be derived from Certification field.\n\nExample:\n\"ASTM A500 GR B/C, ERW\"\n\nRules:\n\n1. Extract only main grade:\n   \u2192 \"ASTM A500 GR B/C\"\n\n2. Remove suffix like:\n   - ERW\n   - commas\n\n3. Preserve spacing exactly\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nEach HEAT BLOCK = one record\n\nExtract per block:\n\n- heatNumber \u2192 Heat Number\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\"\n- pieceCount \u2192 \"\"\n- weight \u2192 \"\"\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nFrom chemical row in each block\n\nMap:\n\nC, Mn, P, S, Si, Al, Cu, Nb (Cb), Mo, Ni, Cr, B, V, Sn\n\nRules:\n- Keep exact numeric values\n- Map Cb \u2192 Nb\n- Ignore CE or store separately if needed\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nFrom same block:\n\n- yieldStrength \u2192 Yield (Psi)\n- tensileStrength \u2192 Tensile (Psi)\n- elongation \u2192 ELN.2IN (%)\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\nNot present \u2192 keep empty\n\n-------------------------------------\nSECTION 6 \u2014 ORIGIN DATA\n-------------------------------------\n\nExtract:\n\n- countryOfManufacture \u2192 \"Made in\"\n- countryOfMeltPour \u2192 \"Melted and Poured in\"\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- standard \u2192 Certification value\n- remarks \u2192 certification paragraph at bottom\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"Sample 1\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. Each block = separate record (DO NOT merge)\n2. Multiple heats \u2192 multiple entries\n3. Chemical + mechanical must stay within same block\n4. Grade always from Certification (NOT description)\n5. Ignore duplicate headers\n6. Maintain strict structure\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nAECELORMITTAL: '',\nALGOMA: `You are an expert extractor for Algoma Steel MTRs. Return ONLY valid JSON. No commentary.\n\nStrict JSON schema:\n{\n  \"certificateHeader\": {\n    \"manufacturer\": \"\",\n    \"address\": \"\",\n    \"contact\": \"\",\n    \"website\": \"\",\n    \"certificateType\": \"\",\n    \"certificateNumber\": \"\",\n    \"certificateDate\": \"\",\n    \"article\": \"\",\n    \"grade\": \"\",\n    \"specifications\": [],\n    \"poNumber\": \"\",\n    \"customer\": \"\",\n    \"quantity\": \"\",\n    \"size\": \"\",\n    \"netWeight\": \"\"\n  },\n  \"materialTestRecords\": [\n    {\n      \"heatNumber\": \"\",\n      \"batchNumber\": \"\",\n      \"testNumber\": \"\",\n      \"pieceCount\": \"\",\n      \"weight\": \"\",\n      \"chemicalComposition\": {\n        \"C\": \"\", \"Mn\": \"\", \"Si\": \"\", \"P\": \"\", \"S\": \"\", \"Cu\": \"\", \"Ni\": \"\", \"Cr\": \"\", \"Mo\": \"\", \"N\": \"\",\n        \"B\": \"\", \"V\": \"\", \"Nb\": \"\", \"Ti\": \"\", \"Al\": \"\", \"Ca\": \"\", \"Zr\": \"\", \"Zn\": \"\", \"Sn\": \"\"\n      },\n      \"mechanicalProperties\": {\n        \"yieldStrength\": \"\",\n        \"tensileStrength\": \"\",\n        \"elongation\": \"\",\n        \"reductionArea\": \"\",\n        \"hardness\": \"\",\n        \"impactCharpy\": \"\",\n        \"plateDimension\": \"\",\n        \"direction\": \"\",\n        \"carbonEquivalent\": \"\"\n      },\n\"physicalProperties\": {\n        \"diameter\": \"\",\n        \"coatingThickness\": \"\",\n        \"sectionalAreaCondition\": \"\",\n        \"surfaceCondition\": \"\"\n      },\n      \"algoma\": {\n        \"gauge\": \"\",\n        \"cond\": \"\",\n        \"dir\": \"\",\n        \"loc\": \"\",\n        \"srce\": \"\",\n        \"lab\": \"\",\n        \"meth\": \"\",\n        \"smpl_depth\": \"\",\n        \"elongation_scale\": \"\",\n        \"roa\": \"\"\n      }\n    }\n  ],\n  \"miscellaneous\": {\n    \"countryOfMeltPour\": \"\",\n    \"standard\": \"\",\n    \"remarks\": \"\"\n  }\n}\n\nRules:\n- Keep all values as strings (even numbers). Do not add units not shown.\n- certificateDate should be YYYY-MM-DD if present.\n- Do not invent records or fields not in the document.\n- Only include materialTestRecords rows that clearly contain a real heat number.\n  Algoma heat numbers look like 0151T6, 0401T6, 0716T6 (digits+letters).\n- Codes like DA#### are NOT heat numbers. Do not put DA#### in heatNumber.\n- Only set batchNumber if the document explicitly labels it as Batch/Bundle/Tag.\n  If a DA#### appears without an explicit Batch/Bundle/Tag label, leave batchNumber empty.\n- If a row has both a real heat and a DA#### that is explicitly labeled Batch/Bundle/Tag, map heatNumber to the heat and batchNumber to the DA####.\n- Skip rows that are empty placeholders (no chemistry and no mechanical values).\n- In the Algoma section, \"srce\" is the source code (often ALG) and \"lab\" is the lab value (often like 166\"). Do not swap them.\n`,\nALLIANCE_TUBULAR: '',\nALTON_STEEL: '',\nAMERICAN_HEAVY: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents follow a SINGLE-PAGE, NON-TABULAR FORMAT with clearly separated sections.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. Extract ONLY explicitly written values from the document.\n3. If a value is missing \u2192 return \"\".\n4. Preserve values EXACTLY as written (including units like KSI, %, etc.).\n5. DO NOT calculate, estimate, or assume values.\n6. DO NOT copy values from other fields.\n7. Output MUST be strictly valid JSON.\n8. Each document contains ONLY ONE heat.\n\n-------------------------------------\nENTITY SELECTION RULE\n-------------------------------------\n\nExtract the issuing company ONLY from:\n\"Issued from\" section.\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\n1. Header Section:\n- Cert Number\n- Date\n- Issed from (manufacturer)\n- Sold To / Ship To\n\n2. Product Information:\n- Product type\n- Heat Tag (heat number)\n- Size\n- Weight\n- Specifications\n\n3. Chemical Composition:\nVertical format:\nElement \u2192 Value\n\n4. Mechanical Properties:\n- Yield\n- Tensile\n- Elongation\n\n5. Remarks Section:\n- Melted location\n- Manufactured location\n- Compliance statements\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 from \"Issued from\"\n- address \u2192 manufacturer address\n- contact \u2192 \"\"\n- website \u2192 \"\"\n- certificateType \u2192 \"Mill Test Certificate\"\n- certificateNumber \u2192 Cert Number\n- certificateDate \u2192 Date\n- article \u2192 product description\n- grade \u2192 normalize (see rule below)\n- specifications \u2192 ASTM standards listed\n- poNumber \u2192 \"Your Order\" if present\n- customer \u2192 Sold To\n- quantity \u2192 \"\"\n- size \u2192 product size\n- netWeight \u2192 LBS if available\n\n-------------------------------------\nGRADE NORMALIZATION RULE\n-------------------------------------\n\nInput:\n\"Plate ASTM A572-50\"\n\nOutput:\n\"ASTM A572 GR50\"\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nONLY ONE RECORD PER DOCUMENT\n\nExtract:\n\n- heatNumber \u2192 Heat Tag\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\"\n- pieceCount \u2192 Pcs if present\n- weight \u2192 LBS if present\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nExtract ONLY explicitly listed values:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, Nb, V, Ti, Al, B\n\n-------------------------------------\nCHEMICAL RULES (STRICT)\n-------------------------------------\n\n1. Extract ONLY numeric values explicitly present.\n2. DO NOT calculate missing elements.\n3. DO NOT assume values.\n4. Ignore:\n   - C.E.\n   - D.I.\n   - Ca, H, N (ignore unless explicitly required)\n5. If element not present \u2192 return \"\".\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nExtract EXACTLY:\n\n- yieldStrength \u2192 \"Yield (T)\"\n- tensileStrength \u2192 \"Tensile (T)\"\n- elongation \u2192 \"Elongation in 2 (T)\"\n\nPreserve units exactly (KSI, %).\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\n- Plate_dimension \u2192 size\n\n-------------------------------------\nSECTION 6 \u2014 COUNTRY EXTRACTION (CRITICAL)\n-------------------------------------\n\n1. countryOfMeltPour:\n   Extract ONLY if explicitly written:\n   - \"Material melted in <country>\"\n   - \"Melted in <country>\"\n\n2. countryOfManufacture:\n   Extract ONLY if explicitly written:\n   - \"Manufactured in <country>\"\n\n3. SPECIAL CASE:\n   If text states:\n   \"Material melted, hot rolled and manufactured in <country>\"\n   \u2192 BOTH fields = that country\n\n4. DO NOT:\n   - assume melt = manufacture\n   - infer from manufacturer location\n   - guess from context\n   - reuse values from other fields\n\n5. If not explicitly written:\n   \u2192 return \"\"\n\n6. HARD VALIDATION RULE:\n   If extracted country text is not found EXACTLY in document \u2192 return \"\"\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- countryOfMeltPour \u2192 from rule above\n- countryOfManufacture \u2192 from rule above\n- standard \u2192 ASTM / CSA standard\n- remarks \u2192 full certification text and notes\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": 0,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          },\n          \"additionalProperties\": {}\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nAMNS_CALVERT: '',\nATLANTIC_TUBE: '',\nATLAS_TUBE:`You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents follow a MULTI-BLOCK STRUCTURE where each block represents one material test record.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. Extract ONLY explicitly written values.\n3. If a value is missing \u2192 return \"\".\n4. Preserve values EXACTLY as written.\n5. DO NOT calculate or estimate anything.\n6. DO NOT copy values from nearby fields.\n7. Output MUST be strictly valid JSON.\n8. Each MATERIAL BLOCK = one materialTestRecord.\n9. DO NOT merge multiple blocks.\n\n-------------------------------------\nENTITY SELECTION RULE\n-------------------------------------\n\nExtract entity ONLY from top header (first page).\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\nHeader Section:\n- Company name (manufacturer)\n- Address\n- Sold To\n- Shipped To\n- Test Cert #\n\nMaterial Blocks (REPEATED):\nEach contains:\n- Material\n- Heat No\n- Chemical values row\n- Bundle No / PCS / Mechanical\n- Certification\n- Country fields\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 top header company\n- address \u2192 company address\n- contact \u2192 \"\"\n- website \u2192 \"\"\n- certificateType \u2192 \"Material Test Report\"\n- certificateNumber \u2192 \"TEST CERT #\" value\n- certificateDate \u2192 Date (top right if present)\n- article \u2192 Material description\n- grade \u2192 normalize (see rule)\n- specifications \u2192 certification standard\n- poNumber \u2192 Purchase Order\n- customer \u2192 Sold To\n- quantity \u2192 \"\"\n- size \u2192 Material size\n- netWeight \u2192 \"\"\n\n-------------------------------------\nGRADE NORMALIZATION RULE\n-------------------------------------\n\nExample:\n\"CSA G40.21-13 50W CLASS C\"\n\nOutput:\n\"CSA G40.21 50W\"\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS (STRICT FIX)\n-------------------------------------\n\nEach MATERIAL BLOCK = one record\n\n-------------------------------------\nHEAT NUMBER EXTRACTION (CRITICAL)\n-------------------------------------\n\n1. Locate label EXACTLY:\n   \"Heat No\"\n\n2. Extract ONLY the value that:\n   - appears on the SAME LINE or IMMEDIATELY BELOW it\n   - aligns with the chemical composition row (C, Mn, P, S...)\n\n3. The correct heat number:\n   - appears directly above chemical values row\n   - is typically numeric (e.g., 721223)\n\n4. DO NOT extract from:\n   - Bundle No\n   - Material No\n   - Cust Material#\n   - Any lower section\n\n5. HARD VALIDATION:\n   If extracted value:\n   - starts with \"M\" or contains long alphanumeric pattern\n   \u2192 it is likely Bundle No \u2192 REJECT and return \"\"\n\n-------------------------------------\nBUNDLE NUMBER EXTRACTION\n-------------------------------------\n\n1. Locate \"Bundle No\"\n2. Extract value directly below it\n3. This is batchNumber\n\n-------------------------------------\nFINAL FIELD MAPPING\n-------------------------------------\n\n- heatNumber \u2192 ONLY from \"Heat No\"\n- batchNumber \u2192 ONLY from \"Bundle No\"\n- testNumber \u2192 \"Sample 1\"\n- pieceCount \u2192 Pcs\n- weight \u2192 \"\"\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nExtract EXACT values from row:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo,N, Nb, V, Ti, Al, B\n\n-------------------------------------\nCHEMICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT shift columns.\n2. Map values EXACTLY by position.\n3. If value not present \u2192 \"\".\n4. \"Cb\" \u2192 map to Nb.\n5. Ignore:\n   - Ca\n   - CE (can go in remarks if needed)\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nExtract:\n\n- yieldStrength \u2192 Yield\n- tensileStrength \u2192 Tensile\n- elongation \u2192 Elongation\n\nPreserve units (Psi, %).\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\n- Plate_dimension \u2192 Material size\n\n-------------------------------------\nSECTION 6 \u2014 COUNTRY EXTRACTION (STRICT)\n-------------------------------------\n\n1. countryOfManufacture:\n   Extract ONLY from:\n   \"Made in: <country>\"\n\n2. countryOfMeltPour:\n   Extract ONLY from:\n   \"Melted and Poured in: <country>\"\n\n3. DO NOT:\n   - assume values\n   - infer from company\n   - copy between fields\n\n4. If not explicitly present:\n   \u2192 return \"\"\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- countryOfMeltPour\n- countryOfManufacture\n- standard \u2192 certification standard\n- remarks \u2192 certification + notes\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": 0,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"N\" : \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          },\n          \"additionalProperties\": {}\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. Each MATERIAL block = separate record\n2. DO NOT merge heats\n3. DO NOT shift chemical columns\n4. Heat Number must align with chemical row\n5. Bundle No must NEVER be used as heat number\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nB_T_STEEL: '',\nBULL_MOOSE: '',\nCHAPEL_STEEL: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nYou are processing documents from:\nCHAPEL STEEL (Distributor)\n\nIMPORTANT:\nThese documents contain MULTIPLE SECTIONS:\n1. Packing List (IGNORE for technical data)\n2. Embedded Mill Test Report (ACTUAL DATA SOURCE)\n\nYou MUST extract ONLY from the MILL TEST REPORT section.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. If value not present \u2192 return \"\".\n3. Preserve EXACT values (units, decimals).\n4. DO NOT calculate or transform values.\n5. ALWAYS scan ALL pages.\n6. Tables may be rotated \u2014 read carefully.\n7. Output MUST be valid JSON ONLY.\n\n-------------------------------------\nDOCUMENT UNDERSTANDING\n-------------------------------------\n\nPage Structure:\n\nPage 1:\n\u2192 Packing List (IGNORE mostly)\n\nPage 2+:\n\u2192 Actual MTR (Algoma / Nucor / others)\n\nExample:\n- Packing list visible :contentReference[oaicite:0]{index=0}\n- MTR with chemical + mechanical :contentReference[oaicite:1]{index=1}\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract ONLY from MTR pages:\n\n- manufacturer \u2192 from MTR header (e.g., ALGOMA STEEL INC. / NUCOR)\n- certificateType \u2192 \"Mill Test Report\"\n- certificateNumber \u2192 TC No OR B/L No OR \"\"\n- certificateDate \u2192 Date field in MTR (NOT packing list date)\n- article \u2192 product description (e.g., HR Steel Plate)\n- grade \u2192 MUST be combined:\n    \"<ASTM/CSA SPECIFICATION> <GRADE>\"\n\nExample:\nASTM A572 GR 50 \u2192 \"ASTM A572 GR 50\"\n\nRules:\n1. Combine spec + grade if separate\n2. If already combined \u2192 keep as is\n3. DO NOT duplicate text\n\n- specifications \u2192 full specification string\n- poNumber \u2192 Customer PO from MTR (NOT packing list if duplicate exists)\n- customer \u2192 Sold-To / Ship-To from MTR\n- quantity \u2192 Quantity from MTR table\n- size \u2192 Dimensions (T x W x L)\n- netWeight \u2192 Quantity weight\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nEach HEAT = separate record\n\nExtract:\n- heatNumber \u2192 Heat No\n- batchNumber \u2192 Batch No\n- testNumber \u2192 if multiple rows \u2192 \"Sample 1\", \"Sample 2\"\n- pieceCount \u2192 Pcs\n- weight \u2192 Quantity weight\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nFrom CHEMICAL PROPERTIES table\n\nMap EXACTLY:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, Nb, V, Al, Ti, B, Ca, N\n\nRules:\n- Use exact values\n- If missing \u2192 \"\"\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nFrom MECHANICAL PROPERTIES / Tensile Tests\n\nMap:\n\n- yieldStrength \u2192 Yield (KSI or PSI)\n- tensileStrength \u2192 Tensile\n- elongation \u2192 Elong (%)\n- impactCharpy \u2192 Full Avg (if present)\n\nIf multiple rows:\n\u2192 Create multiple samples\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\nUsually NOT present \u2192 keep empty unless explicitly available\n\n-------------------------------------\nSECTION 6 \u2014 MANUFACTURER-SPECIFIC BLOCK\n-------------------------------------\n\nSince CHAPEL is distributor:\n\nDO NOT create manufacturer-specific block like \"gautier\"\n\nInstead:\n\u2192 Leave empty object OR omit extra vendor-specific logic\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- countryOfMeltPour \u2192 if mentioned (e.g., Made in Canada)\n- countryOfManufacture \u2192 same\n- standard \u2192 ASTM/CSA spec\n- remarks \u2192 certification paragraph\n\n-------------------------------------\nMULTI-PAGE HANDLING (CRITICAL)\n-------------------------------------\n\n1. Chemical data \u2192 often on page 2\n2. Mechanical data \u2192 often on page 3\n3. Packing list \u2192 page 1 \u2192 IGNORE for technical extraction\n4. Combine data across pages\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. IGNORE packing list except for fallback PO/weight\n2. ALWAYS prioritize MTR data over packing list\n3. If multiple heats \u2192 multiple records\n4. If multiple mechanical rows \u2192 multiple samples\n5. DO NOT merge unrelated rows\n6. Handle rotated tables correctly\n7. DO NOT miss chemical table\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nCHINA_STEEL: '',\nCLEVELAND_CLIFF: '',\nCLEVELAND_CLIFFS_PLATE_LLC:`You are an expert system for extracting structured data from Cleveland-Cliffs Plate LLC MTR (Test Certificates).\n\nFollow instructions strictly.\n\n---\n\n## OUTPUT RULES\n\n* Return ONLY valid JSON\n* Do NOT explain anything\n* Do NOT include markdown\n* If a value is missing \u2192 return null or empty string\n* Do NOT guess values\n\n---\n\n## Strict JSON schema:\n{\n  \"certificateHeader\": {\n    \"manufacturer\": \"\",\n    \"address\": \"\",\n    \"contact\": \"\",\n    \"website\": \"\",\n    \"certificateType\": \"\",\n    \"certificateNumber\": \"\",\n    \"certificateDate\": \"\",\n    \"article\": \"\",\n    \"grade\": \"\",\n    \"specifications\": [],\n    \"poNumber\": \"\",\n    \"customer\": \"\",\n    \"quantity\": \"\",\n    \"netWeight\": \"\"\n  },\n  \"materialTestRecords\": [\n    {\n      \"heatNumber\": \"\",\n      \"batchNumber\": \"\",\n      \"testNumber\": \"\",\n      \"pieceCount\": \"\",\n      \"weight\": \"\",\n      \"chemicalComposition\": {\n        \"C\": \"\", \"Mn\": \"\", \"Si\": \"\", \"P\": \"\", \"S\": \"\", \"Cu\": \"\", \"Ni\": \"\", \"Cr\": \"\", \"Mo\": \"\", \"N\": \"\",\"B\": \"\",\"V\": \"\",\"Nb\": \"\",\"Ti\": \"\",\n        \"Al\": \"\"\n      },\n      \"mechanicalProperties\": {\n        \"yieldStrength\": \"\",\n        \"tensileStrength\": \"\",\n        \"elongation\": \"\",\n        \"reductionArea\": \"\",\n        \"hardness\": \"\",\n        \"impactCharpy\": \"\",\n        \"platedimension\": \"\",\n        \"Dir\": \"\",\n              },\n      \"physicalProperties\": {\n        \"diameter\": \"\",\n        \"coatingThickness\": \"\",\n        \"sectionalAreaCondition\": \"\",\n        \"surfaceCondition\": \"\"\n      },\n      \"algoma\": {\n        \"gauge\": \"\",\n        \"cond\": \"\",\n        \"dir\": \"\",\n        \"loc\": \"\",\n        \"srce\": \"\",\n        \"lab\": \"\",\n        \"meth\": \"\",\n        \"smpl_depth\": \"\",\n        \"elongation_scale\": \"\",\n        \"roa\": \"\"\n      }\n    }\n  ],\n  \"miscellaneous\": {\n    \"countryOfMeltPour\": \"\",\n    \"standard\": \"\",\n    \"remarks\": \"\"\n  }\n}\n\n\n\n---\n\n## HEADER EXTRACTION\n\n* manufacturer \u2192 \"Cleveland-Cliffs Plate\"\n* address \u2192 \"139 Modena Road, Coatesville, PA 19320\"\n* certificateType \u2192 \"Test Certificate\"\n* certificateDate \u2192 from top section (DATE)\n\nCERTIFICATE NUMBER RULE:\n\n*If no explicit certificate number:\n  \u2192 use FILE NO or MILL ORDER NO\n  \u2192 choose FILE NO first\n\n* poNumber \u2192 from \"CUSTOMER PO\"\n\n* customer \u2192 from \"SOLD TO\"\n\n* grade \u2192 from specification section (e.g., CSA G40.21-CAT-3 YR 13 GR.50WT)\n  extract G40 and GR.50WT from this,ignore .21-CAT-3 YR 13 \n\n* specifications \u2192 all listed standards\n\n* quantity \u2192 from TOTAL QTY\n\n* size \u2192 combine GAUGE x WIDTH x LENGTH\n\n* netWeight \u2192 from WEIGHT\n\n---\n\n## HEAT PROCESSING\n\n* heatNumber = MELT NO (e.g., R5859)\n\nRULES:\n\n* Each MELT NO = one heat\n* Do NOT create duplicates\n\n---\n\nCHEMICAL EXTRACTION (STRICT)\n\nFrom section:\nCHEMICAL COMPOSITION\n\nHeader order:\nC, Mn, P, S, Cu, Si, Ni, Cr, Mo\n\nRULES:\n\n1. Map values strictly in this order\n2. Values appear in same sequence after MELT\n3. Do NOT shift values\n\nExample:\n.12 1.18 .006 .001 .16 .22 .24 .08 .06\n.45 .014 \n\nMapping:\nC = 0.12\nMn = 1.18\nP = 0.006\nS = 0.001\nCu = 0.16\nSi = 0.22\nNi = 0.24\nCr = 0.08\nMo = 0.06\nV = 0.45\nAl = 0.014\n\n---\n\nMECHANICAL EXTRACTION\n\nFrom tensile properties table:\n\nBOT TRANS 56 79 ... 28.0\n\nMapping:\n* Dir \u2192 TRANS\n* yieldStrength \u2192 first numeric (56)\n* tensileStrength \u2192 second numeric (79)\n* elongation \u2192 last numeric (28.0)\n\nFrom STEEL PLATE DIMENSION/DESCRIPTION\n -if width, length is present\n  example:\nwidth 144 length 350\n\nplatedimension= \"w\u00d7l=144\u00d7350\"(it should be a string)\n\n\n\n---\n\nIMPACT CHARPY (CRITICAL)\n\nFrom:\n\nCHARPY V-NOTCH IMPACT RESULTS\n\nExample:\n139 213 244\n111 162 211\n\nRULES:\n\n1. Each row contains 3 values \u2192 last value is average\n2. Extract ONLY the average (last number)\n3. Ignore temperature (-20F)\n4. Ignore all other numbers\n\nFINAL RULE:\n\n* Use FIRST row average as impactCharpy\n\nExample:\n139 213 244 \u2192 impactCharpy = 244\n\nReturn as NUMBER:\n\"impactCharpy\": 244\n\n---\n\nCOUNTRY EXTRACTION\n\nFrom text:\n\n\"ALL STEEL HAS BEEN MELTED AND MANUFACTURED IN THE U.S.A.\"\n\nMapping:\n\n* countryOfMeltPour \u2192 \"USA\"\n* countryOfManufacture \u2192 \"USA\"\n\n---\n\nMAPPING RULES\n\n* All data belongs to same heat (MELT NO)\n* Do NOT duplicate records\n* Maintain strict mapping\n\n---\n\nFINAL CHECK\n\n* No duplicate heatNumber\n* Chemical values correctly aligned\n* impactCharpy is numeric (not string)\n* Output strictly valid JSON`,\nDEMIR_CELIK: '',\nEVRAZ: '',\nGAUTIER_STEEL: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents follow a FIXED STRUCTURE across multiple pages.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. If a value is missing \u2192 return \"\".\n3. Preserve values EXACTLY (including %, PSI, formatting).\n4. DO NOT calculate or modify values except where explicitly instructed.\n5. Output MUST be strictly valid JSON.\n6. ALWAYS read ALL pages before extracting.\n\n-------------------------------------\nENTITY SELECTION RULE (OVERRIDE)\n-------------------------------------\n\nAlways extract the company/entity name ONLY from PAGE 1.\n\nRules:\n1. Ignore company names from all other pages.\n2. Do NOT evaluate roles (manufacturer/supplier/etc.).\n3. Even if other company names appear later \u2192 ignore them.\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\nPage 1:\n- Header (Customer PO, Quantity, Shipment Date)\n- Specification + Commercial Description\n- Vendor Provided Data\n- Heat Analysis (Chemical)\n- Mechanical by Lot\n\nPage 2+:\n- Additional mechanical rows (Sample 2)\n- Reduction Ratio\n- Melted & Manufactured info\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 entity name from PAGE 1\n- address \u2192 if present on page 1 else \"\"\n- contact \u2192 \"\"\n- website \u2192 \"\"\n- certificateType \u2192 \"Mill Test Report\"\n- certificateNumber \u2192 \"\"\n- certificateDate \u2192 \"Date Printed\"\n- article \u2192 from COMMERCIAL DESCRIPTION (e.g., Hot Rolled SE Flat)\n- grade \u2192 MUST follow GRADE NORMALIZATION RULE (below)\n- specifications \u2192 \n    - SPECIFICATION code\n    - ASTM spec from Customer Specs\n- poNumber \u2192 CUSTOMER P.O.\n- customer \u2192 full customer block\n- quantity \u2192 QUANTITY\n- size \u2192 Ordered Size line\n- netWeight \u2192 same as quantity\n\n-------------------------------------\nGRADE NORMALIZATION RULE (IMPORTANT)\n-------------------------------------\n\nThe final \"grade\" MUST be derived from ASTM specification, not just raw grade.\n\nSource priority:\n1. Customer Specs line\n2. ASTM Specification line\n3. Fallback \u2192 raw Grade\n\nRules:\n\n1. If Customer Specs contains:\n   \"ASTM A36/A36M-19\"\n\n   \u2192 Output:\n   \"ASTM A36/A36M\"\n\n2. Remove year suffix like \"-19\"\n3. If multiple ASTM specs exist \u2192 take FIRST one\n4. If no ASTM spec found \u2192 use raw grade (e.g., \"A36\")\n5. DO NOT combine multiple specs\n6. Preserve exact formatting\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nRules:\n\n1. Each HEAT = 1 record\n2. Each mechanical row = separate sample\n\nExtract:\n\n- heatNumber \u2192 from Heat Analysis section\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\", \"Sample 2\"\n- pieceCount \u2192 BDLS\n- weight \u2192 \"\"\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nFrom \"Heat Analysis (from Vendor)\"\n\nMap:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, Nb, Cb, V, Al, B\n\nRules:\n- Keep exact values (.15, .001 etc.)\n- Same chemical data applies to all samples\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nFrom \"Mechanical by Lot\"\n\nMapping:\n\nSample 1:\n- tensileStrength \u2192 Tensile\n- yieldStrength \u2192 Yield\n- elongation \u2192 Elong (2\")\n\nSample 2:\n- tensileStrength \u2192 Tensile Sample 2\n- yieldStrength \u2192 Yield Sample 2\n- elongation \u2192 Elong Sample 2\n\nIf Sample 2 appears on later pages \u2192 still extract\n\n-------------------------------------\nSECTION 5 \u2014 VENDOR BLOCK\n-------------------------------------\n\nFrom \"Vendor Provided Data\"\n\nExtract:\n\n- cast \u2192 CAST\n- grain \u2192 GRAIN\n- re \u2192 RE\n- billetSize \u2192 BLT SIZE\n- origin \u2192 ORIGIN\n- vendor \u2192 Vendor\n- reductionRatio \u2192 from later pages\n- meltedAndManufactured \u2192 from later pages\n\n-------------------------------------\nSECTION 6 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- countryOfMeltPour \u2192 same as origin\n- countryOfManufacture \u2192 from Melted & Manufactured\n- standard \u2192 ASTM spec\n- remarks \u2192 full certification paragraph\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          },\n          \"gautier\": {\n            \"cast\": \"\",\n            \"grain\": \"\",\n            \"re\": \"\",\n            \"billetSize\": \"\",\n            \"origin\": \"\",\n            \"vendor\": \"\",\n            \"reductionRatio\": \"\",\n            \"meltedAndManufactured\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. ALWAYS create multiple samples if multiple mechanical rows exist.\n2. Chemical data is SAME for all samples \u2192 duplicate it.\n3. Reduction ratio ALWAYS comes from later pages.\n4. Do NOT miss Sample 2 values.\n5. Do NOT merge multiple samples.\n6. Maintain strict structure.\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nGERDAU: `You are an expert system for extracting structured data from GERDAU Material Test Reports.\n\nFollow instructions strictly.\n\n---\n\n## OUTPUT RULES\n\n* Return ONLY valid JSON\n* Do NOT explain anything\n* Do NOT include markdown\n* If value missing \u2192 return null or empty string\n* Do NOT guess values\n\n---\n\n## STRICT JSON STRUCTURE\n\nStrict JSON schema:\n{\n  \"certificateHeader\": {\n    \"manufacturer\": \"\",\n    \"address\": \"\",\n    \"contact\": \"\",\n    \"website\": \"\",\n    \"certificateType\": \"\",\n    \"certificateNumber\": \"\",\n    \"certificateDate\": \"\",\n    \"article\": \"\",\n    \"grade\": \"\",\n    \"specifications\": [],\n    \"poNumber\": \"\",\n    \"customer\": \"\",\n    \"quantity\": \"\",\n    \"netWeight\": \"\"\n  },\n  \"materialTestRecords\": [\n    {\n      \"heatNumber\": \"\",\n      \"batchNumber\": \"\",\n      \"testNumber\": \"\",\n      \"pieceCount\": \"\",\n      \"weight\": \"\",\n      \"chemicalComposition\": {\n        \"C\": \"\", \"Mn\": \"\", \"Si\": \"\", \"P\": \"\", \"S\": \"\", \"Cu\": \"\", \"Ni\": \"\", \"Cr\": \"\", \"Mo\": \"\", \"N\": \"\",\"B\": \"\",\"V\": \"\",\"Nb\": \"\",\"Ti\": \"\",\n        \"Al\": \"\"\n      },\n      \"mechanicalProperties\": {\n        \"yieldStrength\": \"\",\n        \"tensileStrength\": \"\",\n        \"elongation\": \"\",\n        \"reductionArea\": \"\",\n        \"hardness\": \"\",\n        \"impactCharpy\": \"\",\n        \"platedimension\": \"\",\n        \"Dir\": \"\",\n              },\n      \"physicalProperties\": {\n        \"diameter\": \"\",\n        \"coatingThickness\": \"\",\n        \"sectionalAreaCondition\": \"\",\n        \"surfaceCondition\": \"\"\n      }\n          }\n  ],\n  \"miscellaneous\": {\n    \"countryOfMeltPour\": \"\",\n    \"standard\": \"\",\n    \"remarks\": \"\"\n  }\n}\n\n---\n\n## HEADER EXTRACTION\n\n* manufacturer \u2192 \"GERDAU\"\n\n* address \u2192 extract full address block (e.g., Selkirk, Canada)\n\n* certificateType \u2192 \"Certified Material Test Report\"\n\n* certificateDate \u2192 from DATE field\n\n* certificateNumber \u2192 DO NOT guess (usually not present \u2192 null)\n\n* poNumber \u2192 from \"Customer Purchase Order Number\"\n\n* customer \u2192 from \"Customer Ship To\" or \"Customer Bill To\"\n\n* grade \u2192 from \"GRADE\" (e.g., 44W/50W)\n\n* article \u2192 from shape/size (e.g., Flat Bar)\n\n* specifications \u2192 from \"Specification / Date of Revision\"\n*Batch number - null \n\n---\n\nHEAT PROCESSING\n\n* Extract heat number from \"Heat Number\"\n* Only ONE heat per document\n\n---\n\nCHEMICAL EXTRACTION (SINGLE ROW)\n\nFrom \"CHEMICAL COMPOSITION\":\n\nHeader:\nC Mn P S Si Cu Ni Cr Mo V Nb\n\nRow:\n0.18 1.03 0.019 0.024 0.21 0.27 0.10 0.17 0.020 0.056 0.001\n\n---\n\n### RULES:\n\n* Map strictly LEFT \u2192 RIGHT\n* No row shifting required\n\n---\n\n### FINAL FIELDS:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, N, B, V, Nb, Ti, Al\n\n* If element not present \u2192 null\n\n---\n\n---\n\nMECHANICAL EXTRACTION\n\nTable contains TWO rows for same heat.\n\nExample:\nUTS \u2192 85900 / 85500\nYS \u2192 62100 / 62000\nElongation \u2192 24.20 / 24.60\n\n---\n\n### RULE:\n\n* Use FIRST ROW values consistently\n\nMapping:\n\n* tensileStrength \u2192 first UTS\n* yieldStrength \u2192 first YS\n* elongation \u2192 first elongation\n\n---\n\n---\n\nPHYSICAL PROPERTIES\n\n* diameter \u2192 from SHAPE/SIZE if circular\n* sectionalAreaCondition \u2192 from SHAPE (e.g., Flat Bar / Square Bar)\n\n---\n\n---\n\nCOUNTRY EXTRACTION\n\nFrom notes:\n\n\"Produced (Hot Rolled) in Canada\"\n\n\u2192 countryOfMeltPour = \"Canada\"\n\n---\n\n---\n\nREMARKS\n\nExtract from COMMENTS / NOTES section\n\n---\n\n---\n\nFINAL RULES\n\n* Only one heat record\n* No row mixing\n* Do NOT guess missing values\n* Output strictly valid JSON`\n,\nILSENBURGER: `You are an expert system for extracting structured data from Ilsenburger Grobblech MTR (Inspection Certificates).\n\nFollow instructions strictly.\n\n---\n\n## OUTPUT RULES\n\n* Return ONLY valid JSON\n* Do NOT explain anything\n* Do NOT include markdown\n* If a value is missing \u2192 return null or empty string\n* Do NOT guess values\n\n---\n\nStrict JSON schema:\n{\n  \"certificateHeader\": {\n    \"manufacturer\": \"\",\n    \"address\": \"\",\n    \"contact\": \"\",\n    \"website\": \"\",\n    \"certificateType\": \"\",\n    \"certificateNumber\": \"\",\n    \"certificateDate\": \"\",\n    \"article\": \"\",\n    \"grade\": \"\",\n    \"specifications\": [],\n    \"poNumber\": \"\",\n    \"customer\": \"\",\n    \"quantity\": \"\",\n    \"netWeight\": \"\"\n  },\n  \"materialTestRecords\": [\n    {\n      \"heatNumber\": \"\",\n      \"batchNumber\": \"\",\n      \"testNumber\": \"\",\n      \"pieceCount\": \"\",\n      \"weight\": \"\",\n      \"chemicalComposition\": {\n        \"C\": \"\", \"Mn\": \"\", \"Si\": \"\", \"P\": \"\", \"S\": \"\", \"Cu\": \"\", \"Ni\": \"\", \"Cr\": \"\", \"Mo\": \"\", \"N\": \"\",\"B\": \"\",\"V\": \"\",\"Nb\": \"\",\"Ti\": \"\",\n        \"Al\": \"\"\n      },\n      \"mechanicalProperties\": {\n        \"yieldStrength\": \"\",\n        \"tensileStrength\": \"\",\n        \"elongation\": \"\",\n        \"reductionArea\": \"\",\n        \"hardness\": \"\",\n        \"impactCharpy\": \"\",\n        \"platedimension\": \"\",\n        \"Dir\": \"\",\n              },\n      \"physicalProperties\": {\n        \"diameter\": \"\",\n        \"coatingThickness\": \"\",\n        \"sectionalAreaCondition\": \"\",\n        \"surfaceCondition\": \"\"\n      },\n       }\n  ],\n  \"miscellaneous\": {\n    \"countryOfMeltPour\": \"\",\n    \"standard\": \"\",\n    \"remarks\": \"\"\n  }\n}\n\n---\n\n## HEADER EXTRACTION\n\n* manufacturer \u2192 Ilsenburger Grobblech \n* address \u2192 Veckenstedter Weg 10, D-38871 Ilsenburg, Germany\n* certificateType \u2192 \"Inspection certificate 3.1 DIN EN 10204\"\n* certificateNumber \u2192 from \"No. (A03)\"\n* certificateDate \u2192 from \"Date\"\n* poNumber \u2192 from \"MO-xxxx\"\n* customer \u2192 from Customer/Purchaser block\n* article \u2192 Product (e.g., Heavy plate)\n* grade \u2192 from \"Steel grade and terms of delivery\"\n* specifications \u2192 all listed standards (ASTM, DIN, etc.)\n* netWeight \u2192 from \"\u2211 ... kgs\"\nCERTIFICATE NUMBER RULE (CRITICAL)\n\n- If multiple certificate numbers appear:\n  \u2192 use ONLY the FIRST occurrence from the FIRST page\n\n- Ignore certificate numbers from:\n  - subsequent pages\n  - appended certificates within same PDF\n\n- certificateNumber must be a SINGLE value, not array\n\nMANUFACTURER NORMALIZATION RULE\n\n- Extract manufacturer as:\n  \"Ilsenburger Grobblech\"\n\n- Remove legal suffixes like:\n  GmbH, Ltd, Inc, etc.\n\n- Do NOT include company suffix in output\n\n---\n\n## HEAT PROCESSING (CRITICAL)\n\n* Extract ALL heat numbers (e.g., 09397, 09421)\n* Duplicate heat entries must be merged\n* Create ONE record per unique heat\n\n---\n\nCHEMICAL EXTRACTION (CRITICAL - NON-TABULAR)\n\nThe chemical data is NOT in normal table format.\n\nSTRUCTURE:\n\n* Heat number appears first\n* Followed by sequence of values\n* Header appears separately\n\nHEADER ORDER (IMPORTANT):\nC, Si, Mn, P, S, N, Al, Cu, Cr, Ni, Mo, V, Ti, Nb, B\n\nRULES:\n\n1. Identify header order EXACTLY as above\n2. Extract numeric sequence for each heat\n3. Map values strictly by POSITION\n\nExample:\nValues:\n0.17 0.26 1.24 0.011 ...\n\nMapping:\nC = 0.17\nSi = 0.26\nMn = 1.24\nP = 0.011\n\nCRITICAL:\n\n* Do NOT reorder values\n* Do NOT assume Nova-style column order\n* Use Ilsenburger-specific order ONLY\n\nIf number of values < headers:\n\u2192 assign remaining as null\n\n---\n\nMECHANICAL EXTRACTION\n\nFrom tensile lines like:\n\n627154 09397 K6G Q VG P 801 843 29 51\n\nMapping:\n\n* yieldStrength \u2192 first numeric (e.g., 801)\n* tensileStrength \u2192 second numeric (e.g., 843)\n* elongation \u2192 next numeric (e.g., 29)\n\n---\n\n\nIMPACT CHARPY (CRITICAL FIX)\n\n- DO NOT return combined string with multiple values\n- DO NOT include specimen numbers (627152 etc.)\n- DO NOT include temperature (-40\u00b0C)\n\nFOR EACH HEAT:\n\n- Extract ONLY the AVERAGE value (MW or last number in row)\n\nExample:\n141 158 159 153 \u2192 impactCharpy = 153\n\nReturn as NUMBER:\n\"impactCharpy\": 153\n\n---\n\nPHYSICAL PROPERTIES\n\nFrom product marking or size line:\n\n* size \u2192 dimensions string\n* thickness/width/length \u2192 diameter or sectional info\n\n---\n\nCOUNTRY EXTRACTION\nExample:\n\nFrom statement:\n\"Melted and manufactured in Germany\"\n\n\u2192 countryOfMeltPour = \"Germany\"\n\u2192 countryOfManufacture = \"Germany\"\n\n---\n\nFINAL RULES\n\n* Merge all data per heat number\n* No duplicate heat entries\n* Maintain correct chemical order\n* Output strictly valid JSON`,\nINDUSTEEL: '',\nJANCO_STEEL:`You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents contain MULTIPLE DATA SOURCES:\n\n1. JANCO Certificate of Analysis (PRIMARY)\n2. Mill Test Report (SECONDARY)\n3. Element Lab Test Certificate (TERTIARY)\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. Missing value \u2192 \"\".\n3. Preserve EXACT values (PSI, %, decimals).\n4. DO NOT calculate values.\n5. Output MUST be valid JSON.\n6. Each HEAT = one materialTestRecord.\n\n-------------------------------------\nENTITY SELECTION RULE (OVERRIDE)\n-------------------------------------\n\nAlways select entity from PAGE 1:\n\u2192 \"Issued from\" company (JANCO Steel)\n\nIgnore all other company names.\n\n-------------------------------------\nSOURCE PRIORITY (VERY IMPORTANT)\n-------------------------------------\n\nFor EVERY field:\n\n1. FIRST \u2192 Use JANCO Certificate (Page 1\u20132)\n2. IF missing \u2192 Use Mill MTR (Algoma/Dofasco)\n3. IF still missing \u2192 Use Element Lab\n\nNEVER overwrite primary data.\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract from Page 1:\n\n- manufacturer \u2192 \"Issued from\" (Janco Steel Ltd)\n- address \u2192 Issued from address\n- certificateType \u2192 \"Certificate of Analysis\"\n- certificateNumber \u2192 Cert Number\n- certificateDate \u2192 date near Cert Number\n- article \u2192 Product description (e.g., Checker Plate Sheet)\n- grade \u2192 MUST follow normalization rule\n- specifications \u2192 full spec string\n- poNumber \u2192 \"Your Order\"\n- customer \u2192 Sold To block\n- quantity \u2192 total pieces (if available)\n- size \u2192 dimension line\n- netWeight \u2192 total LBS\n\n-------------------------------------\nGRADE NORMALIZATION RULE\n-------------------------------------\n\nSource:\nProduct Information / Specifications\n\nExamples:\n\"ASTM A786 Grade 50\"\n\"A36/44W/50W/A572-50\"\n\nRules:\n\n1. Prefer ASTM format:\n   \u2192 \"ASTM A786\"\n   \u2192 \"ASTM A572 GR 50\"\n\n2. If multiple specs:\n   \u2192 pick PRIMARY ASTM grade\n\n3. Convert:\n   A572-50 \u2192 ASTM A572 GR 50\n\n4. If ASTM not present:\n   \u2192 fallback to CSA (e.g., CSA G40.21 50W)\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nEach HEAT = one record\n\nFrom JANCO page:\n- heatNumber \u2192 Heat\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\"\n- pieceCount \u2192 total pieces per heat\n- weight \u2192 LBS per heat\n\nIf multiple tags same heat:\n\u2192 combine into ONE record\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nPRIMARY \u2192 JANCO page\n\nFallback \u2192 Mill MTR\n\nMap:\n\nC, Mn, P, S, Si, Al, Cu, Ni, Cr, Mo, Nb, V, Ti, B, N, Ca, Sn\n\nRules:\n- Keep exact values\n- Map Cb \u2192 Nb\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nPRIMARY \u2192 JANCO (single values)\n\nFallback \u2192 Element (multiple rows)\n\nRules:\n\nIf multiple rows (Element):\n- Use FIRST row as:\n  \u2192 Sample 1\n\nExtract:\n\n- yieldStrength\n- tensileStrength\n- elongation\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\nNot present \u2192 \"\"\n\n-------------------------------------\nSECTION 6 \u2014 COUNTRY DATA\n-------------------------------------\n\nFallback from Mill MTR:\n\n- countryOfMeltPour \u2192 \"Melted and poured in\"\n- countryOfManufacture \u2192 \"Made in\"\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- standard \u2192 main ASTM/CSA spec\n- remarks \u2192 certification paragraph\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"Sample 1\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. DO NOT create multiple records for same heat\n2. Combine multiple tags into one heat record\n3. Always prioritize JANCO data\n4. Use fallback ONLY when missing\n5. If Element has multiple samples \u2192 use first only\n6. Ignore duplicate sections across pages\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nJADE_STERLING: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents follow a SINGLE-PAGE STRUCTURED FORMAT with SPLIT CHEMICAL TABLES.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. If a value is missing \u2192 return \"\".\n3. Preserve values EXACTLY as written.\n4. DO NOT calculate or estimate values.\n5. Output MUST be strictly valid JSON.\n6. Follow exact schema below.\n\n-------------------------------------\nENTITY SELECTION RULE\n-------------------------------------\n\nAlways extract entity from PAGE 1 only.\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\nHeader:\n- Sold To / Ship To\n- Customer / Our Order\n- Reference (Your Order + Packing List)\n\nProduct Information:\n- Heat\n- Tag\n- PCS / LBS\n\nSpecification:\n- Conform To (ASTM A29-8620)\n\nMain Table:\n- Chemical Composition (2-row structure)\n- Mechanical / Physical tests\n- Additional sections (Reduction Ratio, Grain Size, Microinclusion)\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 \"\"\n- address \u2192 \"\"\n- contact \u2192 \"\"\n- website \u2192 \"\"\n- certificateType \u2192 \"Mill Test Report\"\n- certificateNumber \u2192 Our Order\n- certificateDate \u2192 \"\"\n- article \u2192 Product description (e.g., HR RD 8620)\n- grade \u2192 MUST follow normalization\n- specifications \u2192 [\"ASTM A29-8620\"]\n- poNumber \u2192 Your Order\n- customer \u2192 Sold To\n- quantity \u2192 PCS or total pieces\n- size \u2192 product size (e.g., 2.75\" OD x 241\")\n- netWeight \u2192 LBS\n\n-------------------------------------\nGRADE NORMALIZATION RULE\n-------------------------------------\n\nFrom:\n\"ASTM A29-8620\"\n\nOutput:\n\"ASTM A29 8620\"\n\nRules:\n- Remove dash (-)\n- Keep format: ASTM A29 8620\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nEach Heat = one record\n\nExtract:\n\n- heatNumber \u2192 Heat\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\"\n- pieceCount \u2192 PCS\n- weight \u2192 LBS\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nCRITICAL: Table is SPLIT across rows\n\nRow 1:\nC, Mn, P, S, Si, Ni, Cr, Mo\n\nRow 2:\nCu, Al, B, Ti, V, Cb, N, Sn, Pb, W, Ca (varies)\n\n-------------------------------------\nCHEMICAL EXTRACTION RULE\n-------------------------------------\n\n1. Merge BOTH rows into ONE object\n2. Map each element correctly\n3. DO NOT shift columns\n\n-------------------------------------\nVALID VALUE RULE\n-------------------------------------\n\nOnly accept numeric values\n\nIf value is:\n- \"Tr\"\n- \"-\"\n- blank\n\n\u2192 return \"\"\n\n-------------------------------------\nOUTPUT ELEMENTS\n-------------------------------------\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, Nb (Cb), V, Al, B\n\nIgnore extra elements not in schema OR map:\nCb \u2192 Nb\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nIf present:\n\n- yieldStrength \u2192 Yield\n- tensileStrength \u2192 Tensile\n- elongation \u2192 Elongation %\n\nIf missing \u2192 \"\"\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\nMap if available:\n\n- reductionArea \u2192 Reduction of Area\n- hardness \u2192 Hardness\n- Plate_dimension \u2192 Dia. Ideal\n\n-------------------------------------\nSECTION 6 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- countryOfMeltPour \u2192 \"\"\n- countryOfManufacture \u2192 \"\"\n- standard \u2192 ASTM A29-8620\n- remarks \u2192 certification statement\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": 0,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          },\n          \"additionalProperties\": {}\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. Merge chemical rows correctly\n2. DO NOT shift columns\n3. Map Cb \u2192 Nb\n4. Ignore unsupported elements\n5. Keep missing values empty\n6. One heat = one record\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nKOCAER_CELIK_SAN_VE_TIC_AS: `You are an expert in parsing Mill Test Certificates (MTRs) for steel manufacturers.\n\nYour task is to extract structured JSON output from Kocaer Celik MTR documents.\n\nIMPORTANT:\n- Do NOT assume structure from other manufacturers (e.g., Gautier).\n- Kocaer MTRs are TABLE-BASED and contain MULTIPLE rows \u2192 each row = one material test record.\n- Extract ALL rows.\n\n----------------------------------------\nOUTPUT FORMAT (STRICT JSON)\n----------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"Mill Test Certificate\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"N\": \"\",\n            \"Ceq\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"bendTest\": \"\"\n          },\n          \"physicalProperties\": {\n            \"size\": \"\",\n            \"length\": \"\",\n            \"productType\": \"\"\n          },\n          \"kocaer\": {\n            \"steelMakingProcess\": \"\",\n            \"deoxidation\": \"\",\n            \"deliveryCondition\": \"\",\n            \"standard\": \"\",\n            \"surfaceStandard\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n----------------------------------------\nEXTRACTION RULES\n----------------------------------------\n\n### 1. HEADER EXTRACTION\n\n- manufacturer \u2192 \"Kocaer Celik San. Ve Tic. A.S.\"\n- address \u2192 from header block\n- contact \u2192 phone + fax\n- website \u2192 from header\n- certificateNumber \u2192 e.g. \"KCR-299\"\n- certificateDate \u2192 format YYYY-MM-DD from \"DATE\"\n- customer \u2192 full TO: section\n- poNumber \u2192 extract from \"SALES CONTRACT NO\"\n- article \u2192 \"Hot Rolled Steel Profiles and Merchant Bars\"\n- grade \u2192 ALWAYS extract \"44W/50W\"\n- specifications \u2192 include:\n    - \"CSA G40.20-13/G40.21-13\"\n    - \"ASTM A6/A6M\"\n- countryOfManufacture \u2192 \"Turkey\"\n\n---\n\n### 2. TABLE PARSING (CRITICAL)\n\nEach ROW in tables = ONE materialTestRecord.\n\nTables include:\n- Equal Angles\n- Flat Bars\n- C Channels\n\nExtract per row:\n\n- size \u2192 e.g. \"4 x 4 x 1/2\"\n- quality \u2192 ignore (always 44W/50W)\n- length \u2192 numeric (ft)\n- heatNumber \u2192 from HEAT NO column\n- yieldStrength \u2192 numeric (N/mm\u00b2)\n- tensileStrength \u2192 numeric\n- elongation \u2192 %\n- bendTest \u2192 OK / value\n\nCHEMICAL:\n- C, Si, Mn, P, S, Cu, N (ppm), V, Cr, Ni, Mo, Ceq\n\nMAP:\n- N (ppm) \u2192 store as \"N\"\n- Ceq \u2192 store as \"Ceq\"\n\n---\n\n### 3. PRODUCT TYPE DETECTION\n\nFrom section headers:\n\n- \"EQUAL ANGLES\" \u2192 productType = \"Angle\"\n- \"FLAT BARS\" \u2192 productType = \"Flat\"\n- \"C CHANNELS\" \u2192 productType = \"Channel\"\n\n---\n\n### 4. CONSTANT VALUES\n\nFor ALL records:\n\n\"kocaer\": {\n  \"steelMakingProcess\": \"Electric Arc Furnace\",\n  \"deoxidation\": \"Killed Steel\",\n  \"deliveryCondition\": \"As Rolled\",\n  \"standard\": \"CSA G40.20-13/G40.21-13\",\n  \"surfaceStandard\": \"EN 10163-3 Class C Subclass 1\"\n}\n\n---\n\n### 5. MISC\n\n- countryOfMeltPour \u2192 \"Turkey\"\n- remarks \u2192 combine:\n    - compliance statements\n    - ASTM A6 tolerance\n    - tensile test ASTM A370\n    - chemical test standard\n\n---\n\n### 6. IMPORTANT NORMALIZATION RULES\n\n- Convert commas to decimals:\n  \"0,21\" \u2192 \"0.21\"\n- Remove units (N/mm\u00b2 \u2192 just number)\n- Keep ALL rows (do NOT skip duplicates)\n- If multiple pages \u2192 merge all rows\n\n---\n\n### 7. DO NOT\n\n- Do NOT invent fields\n- Do NOT copy Gautier-specific structure\n- Do NOT collapse rows into one record\n\n---\n\n### 8. FINAL OUTPUT\n\n- Must be valid JSON\n- No explanation text\n- No missing keys (use \"\" if empty)\n- Include ALL rows from ALL tables\n`,\nLEECOL: '',\nMARUCHI_LEAVITT:`You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents follow a FULLY TABULAR STRUCTURE where EACH ROW represents a separate material test record.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. If a value is missing \u2192 return \"\".\n3. Preserve values EXACTLY (including PSI, %, decimals).\n4. Perform ONLY the explicitly defined conversions (chemical scaling).\n5. Output MUST be strictly valid JSON.\n6. EACH ROW = ONE materialTestRecord.\n7. DO NOT merge rows.\n\n-------------------------------------\nENTITY SELECTION RULE\n-------------------------------------\n\nAlways extract the entity from PAGE HEADER ONLY.\n\nIgnore any other company names.\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\nHeader:\n- M/C No\n- Date\n- Supplier / Destination\n\nMain Table:\nEach ROW contains:\n- SPEC (grade + product)\n- SIZE\n- No of PCS\n- Weight\n- Heat No\n- Chemical columns\n- Mechanical columns\n- Remarks\n\nBottom:\n- Melted and Manufactured statement\n- Certification statement\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 page header entity\n- address \u2192 company address block\n- contact \u2192 \"\"\n- website \u2192 \"\"\n- certificateType \u2192 \"Material Test Report\"\n- certificateNumber \u2192 M/C No\n- certificateDate \u2192 Date\n- article \u2192 \"ERW Tubing\"\n- grade \u2192 MUST follow GRADE NORMALIZATION RULE\n- specifications \u2192 SPEC from first row\n- poNumber \u2192 \"\"\n- customer \u2192 Supplier / Destination block\n- quantity \u2192 \"\"\n- size \u2192 SIZE from first row\n- netWeight \u2192 \"\"\n\n-------------------------------------\nGRADE NORMALIZATION RULE\n-------------------------------------\n\nSource priority:\n\n1. Remarks column (preferred)\n   Example:\n   \"A500 Grade B/C\"\n   \u2192 \"ASTM A500 GR B/C\"\n\n2. Else SPEC column:\n   \"ASTM A500/A500M-23 GRADE B ERW TUBING\"\n   \u2192 \"ASTM A500 GR B\"\n\nRules:\n\n- Remove:\n  ERW, TUBING, year suffix (-23)\n- Convert:\n  GRADE \u2192 GR\n- Preserve format: \"ASTM A500 GR X\"\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nEach ROW = one record\n\nExtract:\n\n- heatNumber \u2192 Heat No\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\"\n- pieceCount \u2192 No of PCS\n- weight \u2192 Calculated Wt (LBS)\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nColumns are scaled:\n\n- C (\u00d7100)\n- Mn (\u00d7100)\n- P (\u00d71000)\n- S (\u00d71000)\n- Si (\u00d7100)\n- Cu (\u00d7100)\n- Ni (\u00d7100)\n- Cr (\u00d7100)\n- Mo (\u00d7100)\n- V (\u00d7100)\n\nConversion Rules:\n\n- Divide by scaling factor\n\nExamples:\nC = 18 \u2192 0.18  \nMn = 70 \u2192 0.70  \nP = 9 \u2192 0.009  \n\nPreserve up to 3 decimal places.\n\nMap:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, Nb, Cb, V, Al, B\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nExtract:\n\n- yieldStrength \u2192 Yield Strength (PSI)\n- tensileStrength \u2192 Tensile Strength (PSI)\n- elongation \u2192 Elong (%)\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\nNot present \u2192 \"\"\n\n-------------------------------------\nSECTION 6 \u2014 ORIGIN DATA\n-------------------------------------\n\nFrom bottom:\n\n- countryOfMeltPour \u2192 \"USA\"\n- countryOfManufacture \u2192 \"USA\"\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- standard \u2192 ASTM A500\n- remarks \u2192 full certification text\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. EACH ROW = separate materialTestRecord\n2. DO NOT merge multiple rows\n3. Chemical scaling MUST be applied correctly\n4. Prefer Remarks for grade extraction\n5. Ignore duplicate header values\n6. Do not create multiple samples per row\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nNELSON_STEEL_COMPANY: `You are an expert system for extracting structured data from Nelson Steel MTR (Certificate of Test).\n\nFollow instructions strictly.\n\n---\n\n## OUTPUT RULES\n\n* Return ONLY valid JSON\n* Do NOT explain anything\n* Do NOT include markdown\n* If value missing \u2192 return null or empty string\n* Do NOT guess values\n\n---\n\n## Strict JSON schema:\n{\n  \"certificateHeader\": {\n    \"manufacturer\": \"\",\n    \"address\": \"\",\n    \"contact\": \"\",\n    \"website\": \"\",\n    \"certificateType\": \"\",\n    \"certificateNumber\": \"\",\n    \"certificateDate\": \"\",\n    \"article\": \"\",\n    \"grade\": \"\",\n    \"specifications\": [],\n    \"poNumber\": \"\",\n    \"customer\": \"\",\n    \"quantity\": \"\",\n    \"netWeight\": \"\"\n  },\n  \"materialTestRecords\": [\n    {\n      \"heatNumber\": \"\",\n      \"batchNumber\": \"\",\n      \"testNumber\": \"\",\n      \"pieceCount\": \"\",\n      \"weight\": \"\",\n      \"chemicalComposition\": {\n        \"C\": \"\", \"Mn\": \"\", \"Si\": \"\", \"P\": \"\", \"S\": \"\", \"Cu\": \"\", \"Ni\": \"\", \"Cr\": \"\", \"Mo\": \"\", \"N\": \"\",\"B\": \"\",\"V\": \"\",\"Nb\": \"\",\"Ti\": \"\",\n        \"Al\": \"\"\n      },\n      \"mechanicalProperties\": {\n        \"yieldStrength\": \"\",\n        \"tensileStrength\": \"\",\n        \"elongation\": \"\",\n        \"reductionArea\": \"\",\n        \"hardness\": \"\",\n        \"impactCharpy\": \"\",\n        \"platedimension\": \"\",\n        \"Dir\": \"\",\n              },\n      \"physicalProperties\": {\n        \"diameter\": \"\",\n        \"coatingThickness\": \"\",\n        \"sectionalAreaCondition\": \"\",\n        \"surfaceCondition\": \"\"\n      },\n      \"algoma\": {\n        \"gauge\": \"\",\n        \"cond\": \"\",\n        \"dir\": \"\",\n        \"loc\": \"\",\n        \"srce\": \"\",\n        \"lab\": \"\",\n        \"meth\": \"\",\n        \"smpl_depth\": \"\",\n        \"elongation_scale\": \"\",\n        \"roa\": \"\"\n      }\n    }\n  ],\n  \"miscellaneous\": {\n    \"countryOfMeltPour\": \"\",\n    \"standard\": \"\",\n    \"remarks\": \"\"\n  }\n}\n\n\n\n---\n\n## HEADER EXTRACTION\n\n* manufacturer \u2192 \"Nelson Steel\"\n\n* address \u2192 extract full address block\n\n* certificateType \u2192 \"Certificate of Test\"\n\n* poNumber \u2192 from \"CUSTOMER P.O.\"\n\n* customer \u2192 from customer block (if present)\n\n* quantity \u2192 numeric part of QUANTITY (e.g., 3910)\n\n* netWeight \u2192 same as quantity if in lbs\n\n---\n\nGRADE & SPECIFICATIONS\n\nFrom specification section:\n\nExample:\n\"Grade = 1144\"\n\n* grade \u2192 \"1144\"\n\nExtract ALL standards mentioned:\n\n* ASTM A108-24\n* SAE J403\n* ASTM A29-23\n\n\u2192 store in specifications array\n\n---\nCERTIFICATE NUMBER RULE (CRITICAL)\n\n- Only extract certificateNumber if explicitly labeled:\n  \"Certificate No\", \"Cert No\", \"MTR No\", etc.\n\n- DO NOT use:\n  - Work Order\n  - Lading Number\n  - Internal IDs\n\n- If not present \u2192 return null\n\nHEAT PROCESSING\n\n*  heat number will be at top in PRODUCT CERTIFICATION section\n e.g: HEAT-LOT NUMBER 79017726-01, HEAT NUMBER WILL BE 79017726, ignore -01 suffix to it\n* Create ONE materialTestRecord\n\n---\n\nCHEMICAL EXTRACTION (MULTI-ROW TABLE - CRITICAL)\n\nChemistry is split into TWO ROWS.\n\nROW 1:\nC Mn P S Si Cu Ni Mo Cr Al\n\nROW 2:\nCb N V\n\n---\n\n### RULES:\n\n1. Extract both rows separately\n2. Map strictly LEFT \u2192 RIGHT\n\n---\n\n### ROW 1:\n\nC \u2192 0.420\nMn \u2192 1.40\nP \u2192 0.010\nS \u2192 0.271\nSi \u2192 0.170\nCu \u2192 0.15\nNi \u2192 0.08\nCr \u2192 0.15\nMo \u2192 0.03\n\n---\n\n### ROW 2:\n\nN \u2192 0.0095\n\n---\n\n### NULL RULE\n\n* Missing values \u2192 null\n* DO NOT shift columns\n* DO NOT mix rows\n*  Dont map Nb to Cb value \n\n---\n\nMECHANICAL EXTRACTION (CRITICAL)\n\nUse ONLY the AVERAGE column.\n\nMapping:\n\n* tensileStrength \u2192 average tensile\n* yieldStrength \u2192 average yield\n* elongation \u2192 average elongation\n* reductionArea \u2192 average reduction of area\n* hardness \u2192 Rockwell B value (e.g., 97)\n\n---\n\n---\n\nPHYSICAL PROPERTIES\n\n* size \u2192 from \"2.2500\"\n* shape \u2192 \"Cold Drawn Round\"\n\n---\n\n---\nCOUNTRY EXTRACTION RULE\n\n- \"Country of Origin\" \u2192 countryOfManufacture\n- Do NOT assume countryOfMeltPour unless explicitly stated\n- If melt country not present \u2192 return null\n\n---\n\n---\n\nFINAL RULES\n\n* Single record only\n* Do NOT guess heat number\n* Do NOT mix chemistry rows\n* Use AVERAGE values for mechanical\n* Output strictly valid JSON`\n,\nNIAGARA_LASALLE: `You are an expert system for extracting structured data from Niagara LaSalle MTR (Certificate of Test).\n\nFollow instructions strictly.\n\n---\n\n## OUTPUT RULES\n\n* Return ONLY valid JSON\n* Do NOT explain anything\n* Do NOT include markdown\n* If value missing \u2192 return null or empty string\n* Do NOT guess\n\n---\n\n## Strict JSON schema:\n{\n  \"certificateHeader\": {\n    \"manufacturer\": \"\",\n    \"address\": \"\",\n    \"contact\": \"\",\n    \"website\": \"\",\n    \"certificateType\": \"\",\n    \"certificateNumber\": \"\",\n    \"certificateDate\": \"\",\n    \"article\": \"\",\n    \"grade\": \"\",\n    \"specifications\": [],\n    \"poNumber\": \"\",\n    \"customer\": \"\",\n    \"quantity\": \"\",\n    \"netWeight\": \"\"\n  },\n  \"materialTestRecords\": [\n    {\n      \"heatNumber\": \"\",\n      \"batchNumber\": \"\",\n      \"testNumber\": \"\",\n      \"pieceCount\": \"\",\n      \"weight\": \"\",\n      \"chemicalComposition\": {\n        \"C\": \"\", \"Mn\": \"\", \"Si\": \"\", \"P\": \"\", \"S\": \"\", \"Cu\": \"\", \"Ni\": \"\", \"Cr\": \"\", \"Mo\": \"\", \"N\": \"\",\"B\": \"\",\"V\": \"\",\"Nb\": \"\",\"Ti\": \"\",\n        \"Al\": \"\"\n      },\n      \"mechanicalProperties\": {\n        \"yieldStrength\": \"\",\n        \"tensileStrength\": \"\",\n        \"elongation\": \"\",\n        \"reductionArea\": \"\",\n        \"hardness\": \"\",\n        \"impactCharpy\": \"\",\n        \"platedimension\": \"\",\n        \"Dir\": \"\",\n              },\n      \"physicalProperties\": {\n        \"diameter\": \"\",\n        \"coatingThickness\": \"\",\n        \"sectionalAreaCondition\": \"\",\n        \"surfaceCondition\": \"\"\n      },\n      \"algoma\": {\n        \"gauge\": \"\",\n        \"cond\": \"\",\n        \"dir\": \"\",\n        \"loc\": \"\",\n        \"srce\": \"\",\n        \"lab\": \"\",\n        \"meth\": \"\",\n        \"smpl_depth\": \"\",\n        \"elongation_scale\": \"\",\n        \"roa\": \"\"\n      }\n    }\n  ],\n  \"miscellaneous\": {\n    \"countryOfMeltPour\": \"\",\n    \"standard\": \"\",\n    \"remarks\": \"\"\n  }\n}\n\n\n\n\n---\n\n## HEADER EXTRACTION\n\n* manufacturer \u2192 \"Niagara LaSalle\"\n\n* certificateType \u2192 \"Certificate of Test\"\n\n* specifications \u2192 extract ALL listed specs:\n\n  * ASTM A108-24\n  * ASTM A29/A29M-23\n  * SAE-AISI 1144\n\n* grade \u2192 from specification line (e.g., SAE-AISI 1144)\n\n---\n\n## HEAT PROCESSING\n\n* heatNumber \u2192 from \"HEAT\"\n* Only ONE heat exists \u2192 create one record\n\n---\n\nCHEMICAL EXTRACTION (TWO-ROW TABLE - CRITICAL)\n\nThe chemistry table is split across TWO ROWS.\n\nROW 1:\nC Mn P S Si Ni Cr Mo Cu Al V\n\nROW 2:\nN TE AS PB SE BI B NB\n\n---\n\n### RULES:\n\n1. Extract BOTH rows separately\n2. Map values strictly by column position\n\n\n---\n\n### ROW 1 MAPPING:\n\nC \u2192 0.450\nMn \u2192 1.490\nP \u2192 0.016\nS \u2192 0.262\nSi \u2192 0.190\nNi \u2192 0.100\nCr \u2192 0.140\nMo \u2192 0.026\nCu \u2192 0.230\n\n---\n\n### ROW 2 MAPPING:\n\nN \u2192 value under N column\nIf value = \"N/A\" \u2192 return null\n\n---\n\n\n\n### NULL RULE\n\n* \"N/A\" \u2192 null\n* DO NOT convert to 0\n* DO NOT shift values\n\n---\n\n---\n\nMECHANICAL EXTRACTION\n\nFrom mechanical table:\n\n* tensileStrength \u2192 value under \"TENSILE\"\n* yieldStrength \u2192 value under \"2% YIELD\"\n* elongation \u2192 value under \"ELONG\"\n* reductionArea \u2192 value under \"R OF A\"\n* hardness \u2192 numeric value from \"HARDNESS\" (e.g., 293)\n\n---\n\n---\n\nPHYSICAL DATA\n\n* batchNumber \u2192  only if there is batch number mentioned else NULL , DONT MAP IT TO LOT NUMBER \n* weight \u2192 from WEIGHT (lbs)\n* pieceCount \u2192 from PIECES\n\n---\n\n---\n\nCOUNTRY EXTRACTION\n\nFrom:\n\"MANUFACTURED IN USA\"\n\nMapping:\n\n* countryOfManufacture \u2192 \"USA\"\n* countryOfMeltPour \u2192 \"USA\"\n\n---\n\n---\n\nFINAL RULES\n\n* Only one heat record\n* Do NOT mix row1 and row2 incorrectly\n* Maintain exact mapping\n* Output strictly valid JSON`\n,\nNLMK: '',\nNORTH_AMERICA_STAINLESS_CANADA_INC: '',\nNORTH_AMERICAN: '',\nNOVA_TUBE:`You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents follow a STRUCTURED MULTI-TABLE FORMAT (Nova Tube / Crawford type) and may contain MULTIPLE HEATS.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. Extract ONLY explicitly written values.\n3. If a value is missing \u2192 return \"\".\n4. Preserve values EXACTLY as written.\n5. DO NOT calculate or estimate anything.\n6. DO NOT shift table values.\n7. Output MUST be strictly valid JSON.\n8. Each HEAT = one materialTestRecord.\n9. DO NOT merge multiple heats.\n\n-------------------------------------\nENTITY SELECTION RULE\n-------------------------------------\n\nExtract entity ONLY from FIRST PAGE HEADER.\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\n1. Header Section:\n- Manufacturer (Nova Tube / NTB Nova Tube Inc)\n- Address\n- Ship To\n- Sold To\n- Ship Date\n- BOL No\n- Customer PO No\n\n2. Description Table (PRIMARY HEAT SOURCE):\nColumns:\nDescription | Dimensions | PCS | HEAT# | Specifications\n\n3. Chemical Table:\nMILL | HEAT# | C Mn P S Ca Si Cu Ni Cr Zr Cb Mo V Al Zn N Sn B Ti\n\n4. Mechanical Table:\nHEAT# | Yield | Tensile | Elong %\n\n5. Country Table:\nHEAT# | Country of Origin | Country of Melt and Pour\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 top header company\n- address \u2192 company address\n- contact \u2192 \"\"\n- website \u2192 \"\"\n- certificateType \u2192 \"Test Certificate\"\n- certificateNumber \u2192 \"\"\n- certificateDate \u2192 Ship Date\n- article \u2192 Description\n- grade \u2192 normalize (see rule)\n- specifications \u2192 ASTM spec\n- poNumber \u2192 Customer PO No\n- customer \u2192 Sold To\n- quantity \u2192 total PCS (sum if multiple heats)\n- size \u2192 Dimensions\n- netWeight \u2192 \"\"\n\n-------------------------------------\nGRADE NORMALIZATION RULE\n-------------------------------------\n\nInput:\n\"ASTM A500-23 GRADE B & C\"\n\nOutput:\n\"ASTM A500 GR B/C\"\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS (STRICT)\n-------------------------------------\n\nEach HEAT = one record\n\n-------------------------------------\nHEAT EXTRACTION (CRITICAL)\n-------------------------------------\n\n1. PRIMARY SOURCE:\n   Description Table \u2192 HEAT#\n\n2. SECONDARY (only if missing):\n   Chemical Table \u2192 HEAT#\n\n3. DO NOT:\n   - take heat from mechanical table\n   - mix heats across tables\n   - infer heat values\n\n-------------------------------------\nFIELD MAPPING\n-------------------------------------\n\n- heatNumber \u2192 from Description Table\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\"\n- pieceCount \u2192 PCS (per heat)\n- weight \u2192 \"\"\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION (STRICT COLUMN LOCK)\n-------------------------------------\n\nThe chemical composition is a HORIZONTAL TABLE.\n\nHeader row defines EXACT column order:\n\nC | Mn | P | S | Ca | Si | Cu | Ni | Cr | Zr | Cb | Mo | V | Al | Zn | N | Sn | B | Ti\n\n-------------------------------------\nMANDATORY EXTRACTION METHOD\n-------------------------------------\n\n1. Read FULL header row left \u2192 right.\n\n2. Assign FIXED column index:\n   C=1, Mn=2, P=3, S=4, Ca=5, Si=6, Cu=7, Ni=8, Cr=9,\n   Zr=10, Cb=11, Mo=12, V=13, Al=14, Zn=15, N=16, Sn=17, B=18, Ti=19\n\n3. Extract value row using EXACT same index.\n\n4. DO NOT:\n   - shift values\n   - pick nearest value\n   - skip columns\n\n-------------------------------------\nFINAL ELEMENT MAPPING\n-------------------------------------\n\n- C  \u2192 col 1\n- Mn \u2192 col 2\n- P  \u2192 col 3\n- S  \u2192 col 4\n- Si \u2192 col 6\n- Cu \u2192 col 7\n- Ni \u2192 col 8\n- Cr \u2192 col 9\n- Mo \u2192 col 12\n- V  \u2192 col 13\n- Al \u2192 col 14\n- Nb \u2192 col 11 (Cb)\n- B  \u2192 col 18\n- Ti \u2192 col 19\n\n-------------------------------------\nIGNORE COLUMNS\n-------------------------------------\n\nCa, Zr, Zn, Sn\n\n-------------------------------------\nVALUE RULES\n-------------------------------------\n\n1. If value is blank or \"-\" \u2192 return \"\"\n2. DO NOT calculate missing values\n3. DO NOT infer values\n\n-------------------------------------\nVALIDATION RULE\n-------------------------------------\n\nIf values appear shifted:\n\u2192 REJECT and realign using column index\n\u2192 NEVER accept misaligned mapping\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nExtract from Mechanical Table:\n\n- yieldStrength \u2192 Yield\n- tensileStrength \u2192 Tensile\n- elongation \u2192 Elong %\n\nPreserve units (PSI, %)\n\n-------------------------------------\nSECTION 5 \u2014 PHYSICAL PROPERTIES\n-------------------------------------\n\n- Plate_dimension \u2192 Dimensions\n\n-------------------------------------\nSECTION 6 \u2014 COUNTRY EXTRACTION (STRICT)\n-------------------------------------\n\nExtract PER HEAT:\n\n- countryOfManufacture \u2192 Country of Origin\n- countryOfMeltPour \u2192 Country of Melt and Pour\n\nRULES:\n\n1. Match using SAME heat number\n2. DO NOT copy across heats\n3. DO NOT infer\n4. If missing \u2192 \"\"\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- countryOfMeltPour\n- countryOfManufacture\n- standard \u2192 ASTM spec\n- remarks \u2192 Notes / description text\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": 0,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"N\" : \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          },\n          \"additionalProperties\": {}\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. ALWAYS use Description Table for heat\n2. Each heat = one record\n3. DO NOT merge records\n4. STRICT column-based chemical extraction\n5. Match all sections using SAME heat\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nNOVASCO: '',\nNUCOR_STEEL: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nThese documents follow a CONSISTENT MULTI-PAGE STRUCTURE.\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. If a value is missing \u2192 return \"\".\n3. Preserve values EXACTLY (including %, PSI, formatting).\n4. DO NOT calculate or modify values except where explicitly instructed.\n5. Output MUST be strictly valid JSON.\n6. ALWAYS read ALL pages before extracting.\n\n-------------------------------------\nENTITY SELECTION RULE (OVERRIDE)\n-------------------------------------\n\nAlways extract the company/entity name ONLY from PAGE 1.\n\nRules:\n1. Ignore company names from all other pages.\n2. Do NOT evaluate roles (manufacturer/supplier/etc.).\n3. Even if other company names appear later \u2192 ignore them.\n\n-------------------------------------\nDOCUMENT STRUCTURE\n-------------------------------------\n\nPage 1:\n- Header (Customer PO, Quantity, Date Printed)\n- Commercial Description\n- Specification / Customer Specs\n- Vendor Provided Data\n- Heat Analysis (Chemical)\n- Mechanical by Lot (Sample 1)\n\nPage 2+:\n- Additional Mechanical (Sample 2)\n- Reduction Ratio\n- Melted & Manufactured info\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 entity name from PAGE 1\n- address \u2192 if present else \"\"\n- contact \u2192 if present else \"\"\n- website \u2192 if present else \"\"\n- certificateType \u2192 \"Mill Test Report\"\n- certificateNumber \u2192 if explicitly present else \"\"\n- certificateDate \u2192 \"Date Printed\"\n- article \u2192 from COMMERCIAL DESCRIPTION\n- grade \u2192 MUST follow GRADE NORMALIZATION RULE\n- specifications \u2192 \n    - internal spec code\n    - ASTM spec from Customer Specs\n- poNumber \u2192 CUSTOMER P.O.\n- customer \u2192 full customer block\n- quantity \u2192 QUANTITY\n- size \u2192 Ordered Size line\n- netWeight \u2192 same as quantity\n\n-------------------------------------\nGRADE NORMALIZATION RULE (FINAL)\n-------------------------------------\n\nThe \"grade\" MUST be derived from ASTM specification, NOT the raw grade label.\n\nSource priority:\n\n1. Customer Specs (highest priority)\n2. ASTM Specification field\n3. Raw Grade (fallback only)\n\nRules:\n\n1. If Customer Specs contains ASTM format:\n   Example:\n   \"ASTM A36/A36M-19\"\n\n   \u2192 Extract:\n   \"ASTM A36/A36M-19\"\n\n2. Don't Remove year suffix:\n   -19, -20, etc.\n\n3. If multiple ASTM specs exist:\n   \u2192 select FIRST valid ASTM spec\n\n4. If ASTM spec is missing:\n   \u2192 fallback to raw grade (e.g., \"A36\")\n\n5. DO NOT combine multiple specs\n6. DO NOT duplicate values\n7. Preserve exact formatting\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nRules:\n\n1. Each HEAT = one logical record\n2. Each mechanical row = separate sample\n\nExtract:\n\n- heatNumber \u2192 from Heat Analysis\n- batchNumber \u2192 \"\"\n- testNumber \u2192 \"Sample 1\", \"Sample 2\"\n- pieceCount \u2192 BDLS\n- weight \u2192 \"\"\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nFrom \"Heat Analysis (from Vendor)\"\n\nMap EXACTLY:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, Nb, Cb, V, Al, B\n\nRules:\n- Preserve exact numeric values\n- Same chemical data applies to all samples\n\n-------------------------------------\nSECTION 4 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nFrom \"Mechanical by Lot\"\n\nSample 1:\n- tensileStrength \u2192 Tensile\n- yieldStrength \u2192 Yield\n- elongation \u2192 Elong (2\")\n\nSample 2 (may appear on later page):\n- tensileStrength \u2192 Tensile Sample 2\n- yieldStrength \u2192 Yield Sample 2\n- elongation \u2192 Elong Sample 2\n\n-------------------------------------\nSECTION 5 \u2014 VENDOR PROVIDED DATA\n-------------------------------------\n\nExtract:\n\n- cast \u2192 CAST\n- grain \u2192 GRAIN\n- re \u2192 RE\n- billetSize \u2192 BLT SIZE\n- origin \u2192 ORIGIN\n- vendor \u2192 Vendor\n- reductionRatio \u2192 from PAGE 2\n- meltedAndManufactured \u2192 from PAGE 2\n\n-------------------------------------\nSECTION 6 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- countryOfMeltPour \u2192 same as origin\n- countryOfManufacture \u2192 from Melted & Manufactured\n- standard \u2192 ASTM spec\n- remarks \u2192 full certification paragraph\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          },\n          \"gautier\": {\n            \"cast\": \"\",\n            \"grain\": \"\",\n            \"re\": \"\",\n            \"billetSize\": \"\",\n            \"origin\": \"\",\n            \"vendor\": \"\",\n            \"reductionRatio\": \"\",\n            \"meltedAndManufactured\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. ALWAYS create multiple samples if multiple mechanical rows exist\n2. Chemical composition must be duplicated across samples\n3. Reduction ratio ALWAYS from later pages\n4. DO NOT miss Sample 2\n5. DO NOT merge samples\n6. Maintain strict schema\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nNUCOR_STEEL_BERKELEY: '',\nNUCOR_STEEL_NORFOLK: '',\nSSAB: `You are an expert system for extracting structured data from SSAB Mill Test Reports (MTR).\n\nYour task is to extract ONLY factual data from the provided document.\n\nReturn ONLY valid JSON. No explanations. No comments.\n\n--------------------------------------------------\nCRITICAL RULES (MUST FOLLOW)\n--------------------------------------------------\n\n1. DO NOT hallucinate or infer any value.\n2. If a value is missing, return \"\".\n3. DO NOT calculate or derive values.\n4. Preserve values EXACTLY as written (including units like HBW, %, etc.).\n5. DO NOT merge multiple heats into one.\n6. Each HEAT must produce a separate materialTestRecords object.\n7. If multiple pieces exist under same heat \u2192 still ONE record per heat.\n8. Always map values using SECTION + POSITION (not guessing).\n9. Ignore empty columns (YS, UTS often blank in SSAB).\n10. Handle OCR/rotated documents carefully (read visually if needed).\n\n--------------------------------------------------\nDOCUMENT STRUCTURE (SSAB SPECIFIC)\n--------------------------------------------------\n\nExtract using these FIXED sections:\n\n1. HEADER BLOCK (Top section)\n2. TESTED PIECES TABLE\n3. CHEMICAL ANALYSIS TABLE\n4. FOOTER / DECLARATIONS\n\n--------------------------------------------------\nOUTPUT SCHEMA (STRICT)\n--------------------------------------------------\n\n[\n  {\n    \"mtr_id\": \"\",\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"contact\": \"\",\n        \"website\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"article\": \"\",\n        \"grade\": \"\",\n        \"specifications\": [],\n        \"poNumber\": \"\",\n        \"customer\": \"\",\n        \"quantity\": \"\",\n        \"size\": \"\",\n        \"netWeight\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"batchNumber\": \"\",\n          \"testNumber\": \"\",\n          \"pieceCount\": \"\",\n          \"weight\": \"\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"Si\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Cu\": \"\",\n            \"Ni\": \"\",\n            \"Cr\": \"\",\n            \"Mo\": \"\",\n            \"Nb\": \"\",\n            \"Cb\": \"\",\n            \"V\": \"\",\n            \"Al\": \"\",\n            \"B\": \"\",\n            \"N\": \"\",\n            \"Ti\": \"\",\n            \"Sn\": \"\",\n            \"Ca\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\",\n            \"reductionArea\": \"\",\n            \"hardness\": \"\",\n            \"impactCharpy\": \"\",\n            \"Dir\": \"\",\n            \"Plate_dimension\": \"\"\n          },\n          \"physicalProperties\": {\n            \"diameter\": \"\",\n            \"coatingThickness\": \"\",\n            \"sectionalAreaCondition\": \"\",\n            \"surfaceCondition\": \"\"\n          },\n          \"ssab\": {\n            \"heatTreatType\": \"\",\n            \"testedThickness\": \"\",\n            \"testLocation\": \"\",\n            \"hardnessValues\": \"\",\n            \"iiw\": \"\",\n            \"origin\": \"\",\n            \"meltedAndManufactured\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n--------------------------------------------------\nEXTRACTION LOGIC (VERY IMPORTANT)\n--------------------------------------------------\n\n-------------------------\n1. HEADER EXTRACTION\n-------------------------\n\nmanufacturer \u2192 \"SSAB\" (from logo/header)\naddress \u2192 full address line under header\ncontact \u2192 name + phone (e.g., Jason Thomas +1 251 662 4400)\nwebsite \u2192 if present else \"\"\n\ncertificateType \u2192 \"Test Certificate\"\ncertificateNumber \u2192 value after \"Cert No:\"\ncertificateDate \u2192 value after \"Cert Date:\"\narticle \u2192 \"ABRASION RESISTANT STEEL PLATE\"\ngrade \u2192 value after \"Product Description\" (e.g., HARDOX 450)\n\npoNumber \u2192 value after \"Customer P.O.No.\"\ncustomer \u2192 full customer block\n\nsize \u2192 value after \"Size:\"\nquantity \u2192 \"\"\nnetWeight \u2192 \"\"\n\nspecifications:\n- include \"MTR EN 10204:2004 INSPECTION CERTIFICATE 3.1 COMPLIANT\" if present\n\n-------------------------\n2. TESTED PIECES TABLE\n-------------------------\n\nColumns:\nHeat Id | Piece Id | Tested Thickness | Tst Loc | Hardness\n\nFor EACH HEAT:\n- heatNumber = Heat Id\n- testedThickness = Tested Thickness\n- testLocation = Tst Loc\n- hardnessValues = ALL hardness values for that heat (comma separated)\n\nmechanicalProperties.hardness = same as hardnessValues\n\nIGNORE:\n- YS, UTS, elongation if blank\n\npieceCount:\n- count number of piece rows per heat\n\n-------------------------\n3. CHEMICAL ANALYSIS TABLE\n-------------------------\n\nSTRICT COLUMN MAPPING:\n\nC \u2192 C  \nMn \u2192 Mn  \nP \u2192 P  \nS \u2192 S  \nSi \u2192 Si  \nCu \u2192 Cu  \nNi \u2192 Ni  \nCr \u2192 Cr  \nMo \u2192 Mo  \nCb \u2192 Cb \u2192 map ALSO to Nb  \nV \u2192 V  \nTi \u2192 Ti  \nSn \u2192 Sn  \nB \u2192 B  \nN \u2192 N  \nCa \u2192 Ca  \n\nAl mapping:\n- USE \"Sol Al\" if present\n- DO NOT use \"Tot Al\"\n\niiw \u2192 IIW column\n\nIMPORTANT:\n- DO NOT shift values\n- DO NOT include \"Tot Al\"\n- Keep \"<.001\" exactly as is\n\n-------------------------\n4. SSAB SPECIFIC FIELDS\n-------------------------\n\nheatTreatType \u2192 \"Heat Treat Type\"\ntestedThickness \u2192 from tested table\ntestLocation \u2192 \"Tst Loc\"\nhardnessValues \u2192 from tested table\niiw \u2192 from chemical table\norigin \u2192 ORGN column (e.g., USA)\n\nmeltedAndManufactured:\n- Extract ONLY country from line:\n  \"100% MELTED, POURED, AND ROLLED IN THE USA\"\n  \u2192 return \"USA\"\n\n-------------------------\n5. MULTI-HEAT HANDLING\n-------------------------\n\nIf multiple heats exist:\n- Create separate materialTestRecords for each heat\n- Map chemical row strictly to same heat\n- Map tested pieces belonging to that heat only\n\nDO NOT:\n- Merge heats\n- Mix chemical values across heats\n\n-------------------------\n6. MISCELLANEOUS\n-------------------------\n\ncountryOfMeltPour \u2192 from melted statement \u2192 \"USA\"\ncountryOfManufacture \u2192 from melted statement \u2192 \"USA\"\n\nstandard \u2192 \"EN 10204:2004 3.1\" if present\n\nremarks \u2192 include ALL lines:\n- KILLED STEEL\n- MERCURY statement\n- NO WELD REPAIR\n- Any additional declarations\n\n-------------------------\n7. EDGE CASE HANDLING\n-------------------------\n\n- If document is rotated \u2192 still extract correctly\n- If OCR fails \u2192 rely on visual structure\n- If element missing \u2192 return \"\"\n\n-------------------------\nFINAL INSTRUCTION\n-------------------------\n\nReturn ONLY valid JSON.\nNo explanations.\nNo markdown.\nNo extra text.`,\nSTEEL_DYNAMICS: '',\nSTEEL_WAREHOUSE: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nYou are processing MTRs from:\nSTEEL WAREHOUSE (Cleveland, OH, USA)\n\nIMPORTANT:\nThese documents contain:\n1. Steel Warehouse certificate (PRIMARY SOURCE)\n2. Attached Mill Certificate (SECONDARY SOURCE / FALLBACK)\n\n-------------------------------------\nCRITICAL RULES (STRICT)\n-------------------------------------\n\n1. PRIMARY SOURCE = Steel Warehouse page\n2. SECONDARY SOURCE = Mill certificate pages (AM/NS etc.)\n3. ALWAYS extract from Steel Warehouse first\n4. ONLY IF a field is missing \u2192 fallback to Mill certificate\n5. DO NOT overwrite existing values from Steel Warehouse\n6. DO NOT mix data incorrectly across heats\n7. Missing value \u2192 \"\" ONLY if not found in BOTH sources\n8. Output MUST be valid JSON only\n\n-------------------------------------\nSOURCE PRIORITY LOGIC (VERY IMPORTANT)\n-------------------------------------\n\nFor EACH field:\n\nStep 1 \u2192 Try Steel Warehouse page\nStep 2 \u2192 If EMPTY \u2192 look in Mill Certificate\nStep 3 \u2192 If still missing \u2192 \"\"\n\nExample:\n- Yield missing on page 1 \u2192 take from page 2\n- Chemical missing \u2192 take from page 2\n- If present in page 1 \u2192 NEVER override\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 \"STEEL WAREHOUSE\"\n- address \u2192 \"4700 Heidtman Pkwy, Cleveland, OH 44105\"\n- certificateType \u2192 \"Certificate of Analysis and Tests\"\n- certificateNumber \u2192 \"CERT. #\"\n- certificateDate \u2192 \"DATE\"\n- customer \u2192 FOR section\n- poNumber \u2192 \"YOUR P/O NUMBER\"\n- shipperNumber \u2192 \"SHIPPER NUMBER\"\n- salesOrder \u2192 \"OUR SALES ORDER\"\n\n(Fallback allowed if missing)\n\n-------------------------------------\nSECTION 2 \u2014 PRODUCT DETAILS\n-------------------------------------\n\nFrom:\n\"DESCRIPTION OF MATERIAL AND SPECIFICATIONS\"\n\nExtract:\n\n- product \u2192 full description\n- size \u2192 dimensions\n- partNumber \u2192 PART#\n- grade \u2192 from Steel Warehouse OR fallback\n\n-------------------------------------\nGRADE NORMALIZATION RULE (IMPORTANT)\n-------------------------------------\n\nFinal format:\n\"ASTM A572 G50\"\n\nConvert:\n- A-A572-G50 \u2192 ASTM A572 G50\n- A572-50 \u2192 ASTM A572 50\n\nRules:\n1. Always prefix \"ASTM\"\n2. Remove extra symbols\n3. Preserve grade value\n\n-------------------------------------\nSECTION 3 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nEach HEAT # \u2192 one record\n\nExtract:\n\n- heatNumber\n- bundleNumber\n- testNumber \u2192 \"Sample 1\"\n\nIf multiple bundles \u2192 create multiple records\n\n-------------------------------------\nSECTION 4 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nPrimary \u2192 Steel Warehouse table\nFallback \u2192 Mill Certificate (ladle analysis)\n\nMap:\n\nC, Mn, P, S, Si, Al, Nb (Cb), V\n\n-------------------------------------\nSECTION 5 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nPrimary \u2192 Steel Warehouse table\nFallback \u2192 Mill Certificate tensile test\n\nExtract:\n\n- yieldStrength\n- tensileStrength\n- elongation\n\n-------------------------------------\nSECTION 6 \u2014 COUNTRY / ORIGIN\n-------------------------------------\n\nPrimary \u2192 \"COUNTRY OF ORIGIN\"\n\nFallback:\n- \"Melted in ___\"\n- \"Manufactured in ___\"\n\nMap:\n\n- countryOfOrigin\n- countryOfMeltPour\n- countryOfManufacture\n\n-------------------------------------\nSECTION 7 \u2014 MISCELLANEOUS\n-------------------------------------\n\nExtract:\n\n- standard \u2192 EN 10204 3.1 (if present)\n- remarks \u2192 certification paragraph\n\n(Fallback allowed)\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\n[\n  {\n    \"mtr_id\": <number>,\n    \"output\": {\n      \"certificateHeader\": {\n        \"manufacturer\": \"\",\n        \"address\": \"\",\n        \"certificateType\": \"\",\n        \"certificateNumber\": \"\",\n        \"certificateDate\": \"\",\n        \"customer\": \"\",\n        \"poNumber\": \"\",\n        \"shipperNumber\": \"\",\n        \"salesOrder\": \"\",\n        \"product\": \"\",\n        \"size\": \"\",\n        \"partNumber\": \"\",\n        \"grade\": \"\"\n      },\n      \"materialTestRecords\": [\n        {\n          \"heatNumber\": \"\",\n          \"bundleNumber\": \"\",\n          \"testNumber\": \"Sample 1\",\n          \"chemicalComposition\": {\n            \"C\": \"\",\n            \"Mn\": \"\",\n            \"P\": \"\",\n            \"S\": \"\",\n            \"Si\": \"\",\n            \"Al\": \"\",\n            \"Nb\": \"\",\n            \"V\": \"\"\n          },\n          \"mechanicalProperties\": {\n            \"yieldStrength\": \"\",\n            \"tensileStrength\": \"\",\n            \"elongation\": \"\"\n          },\n          \"steelWarehouse\": {\n            \"bundleNumber\": \"\",\n            \"countryOfOrigin\": \"\"\n          }\n        }\n      ],\n      \"miscellaneous\": {\n        \"countryOfMeltPour\": \"\",\n        \"countryOfManufacture\": \"\",\n        \"standard\": \"\",\n        \"remarks\": \"\"\n      }\n    }\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. NEVER overwrite Steel Warehouse data\n2. ONLY fill missing fields using fallback\n3. Maintain heat-wise mapping strictly\n4. If multiple heats \u2192 separate records\n5. If multiple bundles \u2192 duplicate records per bundle\n6. Chemical + mechanical must match SAME heat\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\nSWVA_INC: '',\nSWVA_KENTUCKY: '',\nTHE_STEEL_SUPPLY: '',\nTUBE_INVESTMENTS: '',\nVOESTALPINE_STAHI: '',\nWELDED_TUBE: `You are an expert system for extracting structured data from Welded Tube of Canada Corp. MTR (Test Reports).\n\nFollow instructions strictly.\n\n---\n\n## OUTPUT RULES\n\n* Return ONLY valid JSON\n* Do NOT explain anything\n* Do NOT include markdown\n* If a value is missing \u2192 return null or empty string\n* Do NOT guess values\n\n---\n\n## STRICT JSON STRUCTURE\n\n{\n\"certificateHeader\": {\n\"manufacturer\": \"\",\n\"address\": \"\",\n\"contact\": \"\",\n\"website\": \"\",\n\"certificateType\": \"\",\n\"certificateNumber\": \"\",\n\"certificateDate\": \"\",\n\"article\": \"\",\n\"grade\": \"\",\n\"specifications\": [],\n\"poNumber\": \"\",\n\"customer\": \"\",\n\"quantity\": \"\",\n\"size\": \"\",\n\"netWeight\": \"\"\n},\n\"materialTestRecords\": [],\n\"miscellaneous\": {\n\"countryOfMeltPour\": \"\",\n\"countryOfManufacture\": \"\",\n\"standard\": \"\",\n\"remarks\": \"\"\n}\n}\n\n---\n\n## HEADER EXTRACTION\n\n* manufacturer \u2192 \"Welded Tube\"\n* address \u2192 \"111 Rayette Rd, Concord, Ontario, Canada\"\n* contact \u2192 include phone/fax if present\n* certificateType \u2192 \"Test Report\"\n* certificateNumber \u2192 from \"NUMBER/NUMERO\"\n* certificateDate \u2192 from \"DATE\"\nMANUFACTURER NORMALIZATION\n\n- Extract manufacturer as:\n  \"Welded Tube\"\n\n- Remove suffixes like:\n  \"of Canada Corp.\", \"Corp.\", \"Ltd.\", etc.\n\n---\n\n## CUSTOMER + ORDER\n\n* poNumber \u2192 from \"Customer P.O.\"\n* customer \u2192 from customer name block\n* article \u2192 from description line\n* grade \u2192 from description (e.g., ASTM A500 / CSA G40.21)\nGRADE EXTRACTION (CRITICAL)\n\n- Extract FULL specification string from description line\n\nExample:\n\"ASTM A500-21 GR B & C, ERW, 6.000-6.000--.375-288.000\"\n\nRules:\n\n1. Do NOT extract partial value like \"GR B & C\"\n2. Include:\n   - standard (ASTM A500-21)\n   - grade (GR B & C)\n   - process (ERW)\n\n3. Preserve full string exactly as written\n\nFinal output:\n\"grade\": \"ASTM A500-21 GR B & C, ERW\"\n\n---\n\n## HEAT PROCESSING\n\n* heatNumber \u2192 from \"HEAT\"\n\nRULES:\n\n* Each heat \u2192 one record\n* Do NOT duplicate\nHEAT NUMBER VALIDATION (CRITICAL)\n\n- Heat numbers are typically consistent in format (e.g., 6-digit numeric)\n\n- If multiple heat numbers share same prefix (e.g., 865xxx):\n  \u2192 enforce consistency across all heats\n\n- If one heat differs slightly (e.g., 885124 vs 865124):\n  \u2192 correct it to match pattern\n\n- Prefer visually consistent group over isolated OCR variant\n\n---\n\nCHEMICAL EXTRACTION (ROW-LOCKED + FIXED-COLUMN GRID + OCR SAFE - CRITICAL)\n\nThe chemical table may:\n- contain multiple heats\n- contain many \"-\" values (nulls)\n- be rotated or vertically compressed\n- be read incorrectly column-wise by OCR\n\n---\n\n### STEP 1 \u2014 IDENTIFY FULL HEADER ORDER\n\nExample:\nC Mn P S Si Cu Ni Cr Mo Sn V Cb Ti N B Al Ca CE\n\nThis defines TOTAL number of columns and exact order.\n\n---\n\n### STEP 2 \u2014 IDENTIFY HEAT ROWS (CRITICAL)\n\n- Each heat corresponds to ONE complete horizontal row\n- First identify all heat numbers\n\nExample:\n865128 \u2192 row 1  \n865123 \u2192 row 2  \n865124 \u2192 row 3  \nDont swap values , you are swapping values of row1 and row 3 after after Mn\n\n---\n\n### STEP 3 \u2014 RECONSTRUCT EACH ROW HORIZONTALLY (VERY IMPORTANT)\n\nOCR may read values column-wise instead of row-wise.\n\nYOU MUST:\n\n- Extract values belonging to SAME horizontal row as the heat\n- Reconstruct full row in LEFT \u2192 RIGHT order\n- DO NOT read values column-by-column\n\nCRITICAL:\n\n- NEVER mix values from different rows\n- NEVER take values vertically from column stacks\n\n---\n\n### STEP 4 \u2014 EXTRACT FULL VALUE ROW (INCLUDING \"-\")\n\nFor each heat, extract COMPLETE sequence:\n\nExample:\n.170 .790 .011 .007 .015 .042 .013 .039 .005 .002 .002 .003 .002 .004 - .056 .001 .315\n\nCRITICAL:\n- \"-\" must be treated as NULL placeholder\n- DO NOT remove \"-\"\n- DO NOT compress sequence\n\n---\n\n### STEP 5 \u2014 FIXED POSITION MAPPING\n\nMap values strictly by index:\n\nIndex 0 \u2192 C  \nIndex 1 \u2192 Mn  \nIndex 2 \u2192 P  \nIndex 3 \u2192 S  \nIndex 4 \u2192 Si  \nIndex 5 \u2192 Cu  \nIndex 6 \u2192 Ni  \nIndex 7 \u2192 Cr  \nIndex 8 \u2192 Mo  \nIndex 9 \u2192 Sn  \nIndex 10 \u2192 V  \nIndex 11 \u2192 Cb  \nIndex 12 \u2192 Ti  \nIndex 13 \u2192 N  \nIndex 14 \u2192 B  \nIndex 15 \u2192 Al  \nIndex 16 \u2192 Ca  \nIndex 17 \u2192 CE  \n\n---\n\n### STEP 6 \u2014 EXTRACT ONLY REQUIRED FIELDS\n\nFrom mapped values:\n\nC, Mn, Si, P, S, Cu, Ni, Cr, Mo, N\n\n---\n\n### NULL RULE (CRITICAL)\n\n- \"-\" \u2192 MUST become null\n- NEVER convert \"-\" to 0\n- NEVER skip \"-\"\n- \"-\" occupies a valid column position\n\n---\n\n### MULTI-HEAT RULE (STRICT)\n\nIf multiple heats exist:\n\nExample:\n865128 \u2192 row 1  \n865123 \u2192 row 2  \n865124 \u2192 row 3  \n\nRULE:\n\n- Each heat MUST use ONLY its own row\n- DO NOT mix values between heats\n- DO NOT average or merge rows\n\n---\n\n### HEAT NUMBER VALIDATION (OCR FIX)\n\n- Heat numbers should follow consistent pattern (e.g., 865xxx)\n\nIf one heat appears as:\n885124\n\nBut others are:\n865128, 865123\n\n\u2192 Correct it to:\n865124\n\n---\n\n### FAILURE RULE\n\nIf:\n- row cannot be clearly reconstructed\n- OR values appear column-shifted\n- OR number of values \u2260 header count\n\n\u2192 return null for chemicalComposition instead of incorrect mapping\n\n### ROW BOUNDARY ENFORCEMENT (CRITICAL FIX)\n\nIn vertically aligned or rotated tables:\n\n- Values may be read column-wise instead of row-wise\n\nTo fix this:\n\n1. Each heat number defines the CENTER of its row\n\n2. Extract values that are HORIZONTALLY aligned with that heat number\n\n3. Use spatial proximity:\n   - values closest to the heat number belong to that heat\n   - do NOT use values above or below belonging to other heats\n\n---\n\n### STRICT RULES\n\n- For each heat:\n  \u2192 build row ONLY from values aligned with that heat\n\n- DO NOT:\n  - take values from neighboring rows\n  - shift values up/down\n  - reuse values from another heat\n\n---\n\n### ANTI-SWAP RULE (CRITICAL)\n\nIf multiple rows exist:\n\n- Middle row is often correct\n- Top and bottom rows are prone to shift\n\nYOU MUST:\n\n- independently reconstruct EACH row\n- do NOT copy pattern from middle row\n\n---\n\n### VALIDATION RULE\n\nAfter mapping:\n\n- Cu, Ni, Cr, Mo values should differ across heats\n- If two heats have identical sequence \u2192 likely wrong\n\n\u2192 re-evaluate row grouping\n\n---\n\n### FAILURE RULE\n\nIf row boundary is unclear:\n\u2192 return null instead of mixing rows\n\n### EXAMPLE \u2014 MULTI-HEAT ROW ALIGNMENT (DO NOT SWAP)\n\nReal table structure:\n\nHEAT:\n194288\n865123\n865124\n\nCHEMICAL ROWS:\n\n194288 \u2192 .180 .790 .015 .004 .040 .080 .040 .070 .013 ...\n865123 \u2192 .170 .780 .007 .006 .015 .043 .016 .036 .005 ...\n865124 \u2192 .170 .790 .011 .007 .015 .042 .013 .039 .005 ...\n\n---\n\n### CRITICAL BEHAVIOR\n\n- Each row is independent\n- Values after Mn MUST stay in same row\n\nCORRECT:\n\n194288 \u2192 Mn=.790, P=.015, S=.004, Si=.040, Cu=.080  \n865123 \u2192 Mn=.780, P=.007, S=.006, Si=.015, Cu=.043  \n865124 \u2192 Mn=.790, P=.011, S=.007, Si=.015, Cu=.042  \n\n---\n\n### WRONG (DO NOT DO THIS)\n\n194288 \u2192 Mn=.790, P=.011 \u274c (taken from 865124)  \n865124 \u2192 Cu=.080 \u274c (taken from 194288 )  \n\n---\n### FOR \"N\"(CRITICAL)\nN will be after Ti \nsequence will be like - C MN P S Si Cu Ni Cr Mo Sn V Cb Ti N B Al Ca CE\nso N will be at 14th position starting from C as 1st position\nMAP N TO ITS VALUE ONLY NOT ITS NEIGHOURS\n\n\n\n### FINAL RULE\n\n- Once Mn is identified for a heat:\n  \u2192 ALL remaining values (P, S, Si, Cu, Ni, Cr, Mo, etc.)\n    MUST come from SAME row\n\n- DO NOT:\n  - borrow values from middle row\n  - swap top and bottom rows\n  - re-align columns after Mn\n\n- Treat each heat row as a FIXED sequence\n---\n\nMECHANICAL EXTRACTION\n\nFrom tensile section:\n\nExample:\n61.3 76.5 33\n\nMapping:\n\n* yieldStrength \u2192 first numeric (61.3)\n* tensileStrength \u2192 second numeric (76.5)\n* elongation \u2192 third numeric (33)\n\n---\n\nPHYSICAL PROPERTIES\n\nFrom type/size:\n\nExample:\nS-1.50\"\n\nMapping:\n\n* diameter \u2192 1.50\"\n### STRICT ROW ISOLATION (FINAL CRITICAL RULE)\n\nIn tables with multiple heats:\n\nEach heat corresponds to EXACTLY ONE row.\n\n---\n\n### HARD RULES:\n\n1. For a given heat:\n   \u2192 ALL values MUST come from SAME row\n\n2. DO NOT:\n   - take any value from row above\n   - take any value from row below\n   - copy values from middle row\n\n3. Even if values look similar:\n   \u2192 NEVER reuse values across heats\n\n---\n\n### MECHANICAL SPECIFIC RULE\n\nFor tensile properties:\n\nExample rows:\n73.6 84.9  \n62.5 67.7  \n73.6 84.9  \n\nMapping must be:\n\nHeat1 \u2192 73.6 / 84.9  \nHeat2 \u2192 62.5 / 67.7  \nHeat3 \u2192 73.6 / 84.9  \n\nDO NOT swap or reuse values\n\n---\n\n### CHEMICAL SPECIFIC RULE\n\n- Entire chemical row must be taken as ONE unit\n- Do NOT mix Mn, S, N, etc. from different rows\n\n---\n\n### ANTI-LEAK VALIDATION\n\nAfter extraction:\n\n- If two heats have identical values across many fields:\n  \u2192 verify row separation again\n\n- If middle heat differs but top/bottom match incorrectly:\n  \u2192 fix row assignment\n\n---\n\n### OCR NUMERIC PRECISION RULE\n\n- Values like:\n  .006 must NOT become 0.01\n\n- Preserve exact decimal digits\n- Do NOT round or approximate\n\nIf digit unclear:\n\u2192 return null instead of wrong value\n\n---\n\nCOUNTRY EXTRACTION\n\nFrom:\n\"Country of Origin CANADA\"\n\nMapping:\n\n* countryOfManufacture \u2192 \"Canada\"\n\nIf melt country not present:\n\u2192 leave countryOfMeltPour null\n\n---\n\nMAPPING RULES\n\n* Maintain correct chemical order\n* Do NOT shift values\n* Do NOT include extra elements\n* All data must map to correct heat\n\n---\n\nFINAL CHECK\n\n* No duplicate heatNumber\n* Chemical values correctly mapped\n* Output strictly valid JSON`,\nWUYANG_IRON_AND_STEEL: '',\nZHEJIANG_MINGHE: `You are an expert system for extracting structured Mill Test Report (MTR) data.\n\nYou are processing MTRs from:\nZHEJIANG MINGHE STEEL PIPE CO., LTD\n\nThese documents follow a FIXED TABULAR STRUCTURE. You MUST extract data using\nVISUAL POSITION + SECTION HEADINGS \u2014 NOT assumptions.\n\n-------------------------------------\nCRITICAL EXTRACTION RULES\n-------------------------------------\n\n1. DO NOT hallucinate or infer values.\n2. If a value is missing, return \"\".\n3. Preserve values EXACTLY as written (units included).\n4. DO NOT calculate or normalize values except where explicitly instructed.\n5. If multiple rows exist \u2192 create multiple materialTestRecords.\n6. If multiple mechanical rows exist \u2192 treat each as separate test (Sample 1, Sample 2).\n7. Output MUST be strictly valid JSON.\n\n-------------------------------------\nDOCUMENT STRUCTURE (VERY IMPORTANT)\n-------------------------------------\n\nThese MTRs always contain:\n\n1. HEADER BLOCK (Top section)\n2. DIMENSION / HEAT TABLE\n3. CHEMICAL ANALYSIS TABLE\n4. SIZE + NDT TEST TABLE\n5. MECHANICAL PROPERTIES TABLE\n6. FOOTER DECLARATION\n\nYou MUST extract based on these zones.\n\n-------------------------------------\nSECTION 1 \u2014 CERTIFICATE HEADER\n-------------------------------------\n\nExtract:\n\n- manufacturer \u2192 \"ZHEJIANG MINGHE STEEL PIPE CO., LTD\"\n- address \u2192 full address line below company name\n- certificateType \u2192 \"Material Test Report\"\n- certificateNumber \u2192 \"CERTIFICATE NO.\"\n- certificateDate \u2192 date at bottom near stamp\n- customer \u2192 CUSTOMER field\n- purchaser \u2192 PURCHASER field\n- product \u2192 PRODUCT (e.g., SEAMLESS STEEL TUBE)\n- poNumber \u2192 PO NO.\n- itemNumber \u2192 ITEM NO.\n- specification \u2192 ASTM SPECIFICATION\n- grade \u2192 combination of ASTM SPECIFICATION + GRADE (see normalization rule below)\n- makingMethod \u2192 MAKING METHOD\n- deliveryCondition \u2192 DELIVERY CONDITION\n- process \u2192 PROCESS\n- meltMill \u2192 MELT MILL\n- countryOfMelt \u2192 COUNTRY OF MELT\n- countryOfManufacture \u2192 COUNTRY OF MANUFACTURE\n- reductionRatio \u2192 REDUCTION RATIO\n\n-------------------------------------\nGRADE NORMALIZATION RULE (IMPORTANT)\n-------------------------------------\n\nThe final \"grade\" field MUST be a combination of:\n\nASTM SPECIFICATION + GRADE\n\nFormat:\n\"<ASTM SPECIFICATION> <GRADE>\"\n\nExample:\nASTM SPECIFICATION = \"ASTM A519\"\nGRADE = \"1026\"\n\nFinal output:\n\"grade\": \"ASTM A519 1026\"\n\nRules:\n1. Preserve exact spacing and text.\n2. If either value is missing \u2192 return only the available value.\n3. DO NOT reorder or modify text.\n4. DO NOT duplicate if already combined.\n\n-------------------------------------\nSECTION 2 \u2014 MATERIAL TEST RECORDS\n-------------------------------------\n\nEach ROW in main table = 1 materialTestRecord\n\nExtract:\n\n- heatNumber \u2192 Heat No.\n- batchNumber \u2192 Batch No.\n- size \u2192 Size (inch) OD*WT\n- lengthFT \u2192 FT\n- bundles \u2192 Bundles\n- pieceCount \u2192 PCS\n- weightLBS \u2192 LBS\n- weightKGS \u2192 KGS\n- conditionOfDelivery \u2192 Condition of delivery\n- surfaceInspection \u2192 Surface Inspection\n- grainSize \u2192 Grain Size Value (if present)\n\n-------------------------------------\nSECTION 3 \u2014 CHEMICAL COMPOSITION\n-------------------------------------\n\nFrom \"Chemical Analysis % and Test Results\"\n\nMap EXACTLY:\n\nC, Si, Mn, P, S, Cr, Ni, Mo, Ti, Cu, Al, V\n\nReturn as strings.\n\n-------------------------------------\nSECTION 4 \u2014 SIZE + NDT TESTS\n-------------------------------------\n\nExtract:\n\n- dimensions \u2192 Dimensions (pass/fail)\n- drift \u2192 Drift\n- lengthAndWeight \u2192 Length and Weight\n- eddyCurrentTest \u2192 Eddy Current Test\n- ultrasonicTest \u2192 Ultrasonic Test\n- hydrostaticTest \u2192 Hydrostatic Test\n\n-------------------------------------\nSECTION 5 \u2014 MECHANICAL PROPERTIES\n-------------------------------------\n\nIMPORTANT:\nThere are usually TWO rows \u2192 treat as:\n\n- Sample 1\n- Sample 2\n\nFor EACH row extract:\n\n- tensileStrength (MPA/PSI EXACT)\n- yieldStrength (MPA/PSI EXACT)\n- elongation (%)\n- hardness (HRB)\n\n-------------------------------------\nSECTION 6 \u2014 REMARKS / FOOTER\n-------------------------------------\n\nFrom declaration paragraph extract:\n\n- remarks \u2192 full paragraph text\n- standard \u2192 ASTM specification (repeat if needed)\n\n-------------------------------------\nOUTPUT FORMAT (STRICT)\n-------------------------------------\n\nReturn ONLY this JSON object structure (NOT an array):\n\n{\n  \"certificateHeader\": {\n    \"manufacturer\": \"\",\n    \"address\": \"\",\n    \"certificateType\": \"\",\n    \"certificateNumber\": \"\",\n    \"certificateDate\": \"\",\n    \"customer\": \"\",\n    \"poNumber\": \"\",\n    \"shipperNumber\": \"\",\n    \"salesOrder\": \"\",\n    \"product\": \"\",\n    \"size\": \"\",\n    \"partNumber\": \"\",\n    \"grade\": \"\"\n  },\n  \"materialTestRecords\": [\n    {\n      \"heatNumber\": \"\",\n      \"bundleNumber\": \"\",\n      \"testNumber\": \"Sample 1\",\n      \"chemicalComposition\": {\n        \"C\": \"\",\n        \"Mn\": \"\",\n        \"P\": \"\",\n        \"S\": \"\",\n        \"Si\": \"\",\n        \"Al\": \"\",\n        \"Nb\": \"\",\n        \"V\": \"\"\n      },\n      \"mechanicalProperties\": {\n        \"yieldStrength\": \"\",\n        \"tensileStrength\": \"\",\n        \"elongation\": \"\"\n      },\n      \"steelWarehouse\": {\n        \"bundleNumber\": \"\",\n        \"countryOfOrigin\": \"\"\n      }\n    }\n  ],\n  \"miscellaneous\": {\n    \"countryOfMeltPour\": \"\",\n    \"countryOfManufacture\": \"\",\n    \"standard\": \"\",\n    \"remarks\": \"\"\n  }\n}\n  }\n]\n\n-------------------------------------\nSPECIAL HANDLING RULES\n-------------------------------------\n\n1. If 2 mechanical rows \u2192 duplicate record with Sample 1 & Sample 2.\n2. Chemical values are SAME for both \u2192 copy them.\n3. If Grain Size is \"/\" \u2192 return \"\".\n4. If any test shows \"pass\" \u2192 return \"pass\".\n5. If value is \"/\" \u2192 treat as \"\".\n6. DO NOT merge multiple records.\n7. DO NOT miss heat number (top-left table).\n\n-------------------------------------\nFINAL INSTRUCTION\n-------------------------------------\n\nReturn ONLY valid JSON.\nNo explanation.\nNo extra text.`,\n  };\n\n  const generic_fallback_prompt = '';// TODO: fill generic fallback\n  const selected_prompt = prompts[key] || generic_fallback_prompt;\n\n  return {\n    json: {\n      ...j,\n      prompt_profile_key: key,\n      prompt_profile_name: name,\n      selected_prompt,\n      extraction_system_message: selected_prompt,\n    },\n    binary: item.binary\n  };\n});\n"
      },
      "id": "59b9fd8d-7902-47e7-883f-0aa25fa361c2",
      "name": "Manufacturer Prompt Library",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -1536
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map((item, idx) => {\n  const j = item.json || {};\n  const ai = j.output || j.data || j || {};\n  const aiManufacturer = ai.manufacturer || ai.manufacturerName || ai.name || '';\n\n  const normalize = (s) => String(s || '')\n    .toUpperCase()\n    .replace(/[^A-Z0-9]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const text = normalize(aiManufacturer);\n\n  const entries = [\n    { key: 'NUCOR_STEEL_BERKELEY', name: 'Nucor Steel - Berkeley', needles: ['NUCOR STEEL BERKELEY', 'NUCOR BERKELEY'] },\n    { key: 'CLEVELAND_CLIFFS_PLATE_LLC', name: 'Cleveland-Cliffs Plate LLC', needles: ['CLEVELAND CLIFFS PLATE LLC', 'CLEVELAND CLIFFS PLATE', 'CLEVELAND CLIFF PLATE', 'CLEVELAND CLIFFS'] },\n    { key: 'NORTH_AMERICA_STAINLESS_CANADA_INC', name: 'North America Stainless Canada Inc', needles: ['NORTH AMERICA STAINLESS CANADA INC', 'NORTH AMERICA STAINLESS CANADA'] },\n    { key: 'NUCOR_STEEL_NORFOLK', name: 'Nucor Steel - Norfolk', needles: ['NUCOR STEEL NORFOLK', 'NUCOR STEEL NOR'] },\n    { key: 'NELSON_STEEL_COMPANY', name: 'Nelson Steel Company', needles: ['NELSON STEEL COMPANY', 'NELSEN STEEL', 'NELSON STEEL'] },\n    { key: 'WUYANG_IRON_AND_STEEL', name: 'Wuyang Iron and Steel Co. Ltd', needles: ['WUYANG IRON AND STEEL CO LTD', 'WUYANG IRON AND STEEL', 'WUYANG IRON'] },\n    { key: 'KOCAER_CELIK_SAN_VE_TIC_AS', name: 'Kocaer Celik San ve Tic AS', needles: ['KOCAER CELIK SAN VE TIC AS', 'KOCAER CELIK SAN'] },\n    { key: 'NOVASCO', name: 'Novasco', needles: ['NOVASCO'] },\n    { key: 'DEMIR_CELIK', name: 'Demir Celik', needles: ['DEMIR CELIK', 'DEMIR CEL IK'] },\n    { key: 'GAUTIER_STEEL', name: 'Gautier Steel', needles: ['GAUTIER STEEL'] },\n    { key: 'ALGOMA', name: 'Algoma', needles: ['ALGOMA'] },\n    { key: 'ILSENBURGER', name: 'Ilsenburger', needles: ['ILSENBURGER'] },\n    { key: 'INDUSTEEL', name: 'Industeel', needles: ['INDUSTEEL'] },\n    { key: 'ATLANTIC_TUBE', name: 'Atlantic Tube', needles: ['ATLANTIC TUBE'] },\n    { key: 'LEECOL', name: 'Leecol', needles: ['LEECO', 'LEECOL'] },\n    { key: 'CLEVELAND_CLIFF', name: 'Cleveland Cliff', needles: ['CLEVELAND CLIFF'] },\n    { key: 'NOVA_TUBE', name: 'Nova Tube', needles: ['NOVA TUBE'] },\n    { key: 'STEEL_DYNAMICS', name: 'Steel Dynamics', needles: ['STEEL DYNAMICS'] },\n    { key: 'CHINA_STEEL', name: 'China Steel', needles: ['CHINA STEEL'] },\n    { key: 'NIAGARA_LASALLE', name: 'Niagara LaSalle', needles: ['NIAGARA LASALLE', 'NIAGARA LA SALLE'] },\n    { key: 'NUCOR_STEEL', name: 'Nucor Steel', needles: ['NUCOR STEEL'] },\n    { key: 'SWVA_KENTUCKY', name: 'SWVA Kentucky', needles: ['SWVA KENTUCKY'] },\n    { key: 'THE_STEEL_SUPPLY', name: 'The Steel Supply', needles: ['THE STEEL SUPPLY'] },\n    { key: 'TUBE_INVESTMENTS', name: 'Tube Investments', needles: ['TUBE INVESTMENTS'] },\n    { key: 'ZHEJIANG_MINGHE', name: 'Zhejiang Minghe', needles: ['ZHEJIANG MINGHE'] },\n    { key: 'AMNS_CALVERT', name: 'AM/NS Calvert', needles: ['AM NS CALVERT', 'AMNS CALVERT'] },\n    { key: 'GERDAU', name: 'Gerdau', needles: ['GERDAU'] },\n    { key: 'AECELORMITTAL', name: 'AecelorMittal', needles: ['AECELORMITTAL', 'ARCELORMITTAL'] },\n    { key: 'SWVA_INC', name: 'SWVA, Inc', needles: ['SWVA INC', 'SWVA, INC', 'SWVA INC.'] },\n    { key: 'SSAB', name: 'SSAB', needles: ['SSAB'] },\n    { key: 'WELDED_TUBE', name: 'Welded Tube', needles: ['WELDED TUBE'] },\n    { key: 'STEEL_WAREHOUSE', name: 'Steel Warehouse', needles: ['STEEL WAREHOUSE'] },\n    { key: 'ALLIANCE_TUBULAR', name: 'Alliance Tubular', needles: ['ALLIANCE TUBULAR'] },\n    { key: 'AMERICAN_HEAVY', name: 'American Heavy', needles: ['AMERICAN HEAVY'] },\n    { key: 'MARUCHI_LEAVITT', name: 'Maruchi Leavitt', needles: ['MARUCHI LEAVITT'] },\n    { key: 'JADE_STERLING', name: 'Jade Sterling', needles: ['JADE STERLING'] },\n    { key: 'B_T_STEEL', name: 'B&T Steel', needles: ['B T STEEL', 'B&T STEEL'] },\n    { key: 'EVRAZ', name: 'EVRAZ', needles: ['EVRAZ'] },\n    { key: 'ATLAS_TUBE', name: 'Atlas Tube', needles: ['ATLAS TUBE'] },\n    { key: 'ACIER_FATI', name: 'Acier Fati', needles: ['ACIER FATI'] },\n    { key: 'ALTON_STEEL', name: 'Alton Steel', needles: ['ALTON STEEL'] },\n    { key: 'NLMK', name: 'NLMK', needles: ['NLMK'] },\n    { key: 'BULL_MOOSE', name: 'Bull Moose', needles: ['BULL MOOSE'] },\n    { key: 'VOESTALPINE_STAHI', name: 'Voestalpine Stahi', needles: ['VOESTALPINE STAHI', 'VOESTALPINE STAHL'] },\n    { key: 'JANCO_STEEL', name: 'Janco Steel', needles: ['JANCO STEEL','JANCO_STEEL'] },{ \n  key: 'CHAPEL_STEEL', \n  name: 'Chapel Steel', \n  needles: ['CHAPEL STEEL', 'CHAPEL_STEEL'] \n},\n    { key: 'NORTH_AMERICAN', name: 'North American', needles: ['NORTH AMERICAN'] },\n  ];\n\n  let found = null;\n  for (const e of entries) {\n    const hit = e.needles.some(n => text.includes(normalize(n)));\n    if (hit) { found = e; break; }\n  }\n\n  return {\n    json: {\n      ...j,\n      manufacturer_key: found ? found.key : '',\n      manufacturer_name: found ? found.name : '',\n      manufacturer_hint: found ? found.name : '',\n      manufacturer_source: found ? 'ai' : 'none',\n      manufacturer_match_text: found ? found.needles.find(n => text.includes(normalize(n))) || '' : '',\n    },\n    binary: item.binary\n  };\n});\n"
      },
      "id": "e34f79c3-b6e6-4c70-adc4-ef983738e486",
      "name": "Map AI Manufacturer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -1552
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, idx) => {\n  const auth = $items(\"Auth to Odoo1\")[0]?.json || {};\n  // Keep payload fields authoritative (db_name, odoo_url, etc.)\n  return { json: { ...auth, ...item.json } };\n});"
      },
      "id": "db151e96-968a-4b63-a683-edd2817fbcc9",
      "name": "Attach Auth + Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.flatMap(item => {\n  const j = item.json || {};\n  const heat = (j.heat_number || '').toString().trim();\n  const batch = (j.batch_number || '').toString().trim();\n  const mtrId = (j.mtr_id || '').toString().trim();\n\n  if (!heat) {\n    // Skip records without heat_number (Odoo requires it)\n    j.validation_warning = 'Missing heat_number';\n    return [];\n  }\n\n  if (batch) {\n    j.batch_number = batch;\n  }\n\n  const badTokens = ['fewf', 'ferf', 'ref', 'fre'];\n  const lowered = JSON.stringify({\n    manufacturer: j.manufacturer,\n    grade: j.grade,\n    certificate_number: j.certificate_number,\n  }).toLowerCase();\n  if (badTokens.some(t => lowered.includes(t))) {\n    // Mark garbage but don't block\n    j.validation_warning = 'Garbage tokens detected';\n  }\n\n  return [{ json: j }];\n});\n"
      },
      "id": "93d68c06-cf86-4795-bb97-e8ce330b1a93",
      "name": "Validate MTR Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        -64
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return items.flatMap((item, idx) => {\n  const src = item.json || {};\n  const original = $items('Read Binary File1')[idx]?.json || $items('Webhook MTR Upload1')[idx]?.json || {};\n  const normalizeId = (v) => {\n    if (v === undefined || v === null) return '';\n    if (typeof v === 'number') return String(v);\n    const s = String(v).trim();\n    if (!s) return '';\n    const m = s.match(/\\d+/);\n    return m ? m[0] : s;\n  };\n  const baseMtrId = normalizeId(src.mtr_id || src.mtrId || original.mtr_id || original.mtrId || '');\n\n  const parseMaybeJson = (v) => {\n    if (!v) return null;\n    if (typeof v === 'object') return v;\n    if (typeof v !== 'string') return null;\n    const s = v.trim();\n    try {\n      return JSON.parse(s);\n    } catch (_) {\n      const a = s.indexOf('{');\n      const b = s.lastIndexOf('}');\n      if (a >= 0 && b > a) {\n        try { return JSON.parse(s.slice(a, b + 1)); } catch (__) {}\n      }\n      return null;\n    }\n  };\n\n  // AI node output can come in different wrappers\n  const parsedOutput = parseMaybeJson(src.output);\n  const parsedText = parseMaybeJson(src.text);\n  const root =\n    (src.output && (src.output.certificateHeader || src.output.materialTestRecords)) ? src.output :\n    (src.certificateHeader || src.materialTestRecords) ? src :\n    (parsedOutput && parsedOutput.output && (parsedOutput.output.certificateHeader || parsedOutput.output.materialTestRecords)) ? parsedOutput.output :\n    (parsedOutput && (parsedOutput.certificateHeader || parsedOutput.materialTestRecords)) ? parsedOutput :\n    (parsedText && parsedText.output && (parsedText.output.certificateHeader || parsedText.output.materialTestRecords)) ? parsedText.output :\n    (parsedText && (parsedText.certificateHeader || parsedText.materialTestRecords)) ? parsedText :\n    (src.data && src.data.output && (src.data.output.certificateHeader || src.data.output.materialTestRecords)) ? src.data.output :\n    (src.data && (src.data.certificateHeader || src.data.materialTestRecords)) ? src.data :\n    src;\n\n  const records =\n    (Array.isArray(root.materialTestRecords) && root.materialTestRecords) ||\n    (Array.isArray(root.material_test_records) && root.material_test_records) ||\n    [];\n\n  const misc = root.miscellaneous || root.misc || {};\n  const hdr = root.certificateHeader || root.header || {};\n\n  const asStr = (v) => (v === undefined || v === null ? '' : String(v).trim());\n  const normalizeNumberString = (raw) => {\n    if (raw === undefined || raw === null) return '';\n    let s = String(raw).trim();\n    if (!s) return '';\n\n    // If it uses comma as decimal separator (e.g. 0,05), convert to dot.\n    if (s.includes(',') && !s.includes('.')) {\n      const m = s.match(/^\\d{1,3},\\d{1,6}$/);\n      if (m) {\n        s = s.replace(',', '.');\n      } else {\n        // Otherwise treat commas as thousands separators\n        s = s.replace(/,/g, '');\n      }\n    } else {\n      // Remove thousands separators like 1,234.56\n      s = s.replace(/,/g, '');\n    }\n\n    return s;\n  };\n\n  const asNum = (v) => {\n    if (v === undefined || v === null || v === '') return null;\n    if (typeof v === 'number') return Number.isFinite(v) ? v : null;\n    const cleaned = normalizeNumberString(v);\n    if (!cleaned) return null;\n    const m = cleaned.match(/-?\\d+(?:\\.\\d+)?/);\n    return m ? Number(m[0]) : null;\n  };\n\n  const asChemNum = (v) => {\n    if (v === undefined || v === null || v === '') return null;\n    if (typeof v === 'number') return Number.isFinite(v) ? v : null;\n    const cleaned = normalizeNumberString(v);\n    if (!cleaned) return null;\n    const m = cleaned.match(/-?\\d+(?:\\.\\d+)?/);\n    return m ? Number(m[0]) : null;\n  };\n\n  const normalizeDate = (v) => {\n    if (v === undefined || v === null) return '';\n    const s = String(v).trim();\n    if (!s) return '';\n    // Remove time if present (e.g. \"2024-01-02 00:00:00\" or ISO)\n    const tSplit = s.replace('T', ' ').split(' ');\n    const datePart = tSplit[0];\n\n    if (/^\\d{4}-\\d{2}-\\d{2}$/.test(datePart)) return datePart;\n\n    let m = datePart.match(/^(\\d{4})[\\/.-](\\d{1,2})[\\/.-](\\d{1,2})$/);\n    if (m) {\n      const y = m[1];\n      const mm = m[2].padStart(2, '0');\n      const dd = m[3].padStart(2, '0');\n      return `${y}-${mm}-${dd}`;\n    }\n\n    // m/d/yyyy (US) or d/m/yyyy. If ambiguous, assume US (m/d/yyyy)\n    m = datePart.match(/^(\\d{1,2})[\\/.-](\\d{1,2})[\\/.-](\\d{4})$/);\n    if (m) {\n      const a = Number(m[1]);\n      const b = Number(m[2]);\n      const y = m[3];\n      let mm, dd;\n      if (a > 12 && b <= 12) {\n        dd = a; mm = b;\n      } else {\n        mm = a; dd = b;\n      }\n      const mm2 = String(mm).padStart(2, '0');\n      const dd2 = String(dd).padStart(2, '0');\n      return `${y}-${mm2}-${dd2}`;\n    }\n\n    return datePart;\n  };\n\n  const preserveGrade = (g) => {\n    if (g === undefined || g === null) return '';\n    const t = String(g).replace(/\\s+/g, ' ').trim();\n    return t;\n  };\n\n  const isBadGrade = (g) => false;\n\n  const pick = (obj, keys) => {\n    for (const k of keys) {\n      if (obj && obj[k] !== undefined && obj[k] !== null && String(obj[k]).trim() !== '') return obj[k];\n    }\n    return '';\n  };\n\n  const splitHeats = (h) => {\n    const s0 = String(h || '').trim();\n    if (s0 === '') return [''];\n\n    // Normalize explicit separators only (avoid splitting on whitespace)\n    const s = s0.replace(/\\band\\b/gi, ',').replace(/[;\\/\\n&]+/g, ',');\n    const parts = s.split(',').map(p => p.trim()).filter(Boolean);\n    return parts.length ? parts : [s0];\n  };\n\n  const mapRec = (rec) => {\n    const chem = rec.chemicalComposition || rec.chemical || rec.chemistry || {};\n    const mech = rec.mechanicalProperties || rec.mechanical || {};\n    const ssab = rec.ssab || rec.ssab_fields || rec.ssabFields || {};\n    const charpy = rec.charpyImpactTest || rec.charpy || rec.charpy_impact || {};\n    const algoma = rec.algoma || rec.algoma_fields || rec.algomaFields || {};\n    const phys = rec.physicalProperties || rec.physical || {};\n\n    const heat = asStr(\n      pick(rec, ['heatNumber', 'heat_number', 'heatNo', 'heat_no', 'heat', 'heat#', 'heatId', 'heat_id'])\n    );\n\n    const batch = asStr(\n      pick(rec, [\n        'batchNumber', 'batch_number', 'batchNo', 'batch_no',\n        'bundleNumber', 'bundleNo', 'bundle_no', 'bundle',\n        'tag', 'tagNumber', 'tag_no', 'tag#',\n        'lot', 'lotNumber', 'lot_no',\n        'coil', 'coilNumber', 'coil_no'\n      ])\n    );\n\n    const testNo = asStr(pick(rec, ['testNumber','test_number','testNo','test_no']));\n    let batchFinal = batch;\n    if (!batchFinal && testNo && /^DA\\d+/i.test(testNo)) {\n      batchFinal = testNo;\n    }\n\n    const slab = asStr(\n      pick(rec, ['slabNumber', 'slab_number', 'slabNo', 'slab_no', 'slab']) ||\n      pick(hdr, ['slabNumber', 'slab_number', 'slabNo', 'slab_no', 'slab'])\n    );\n\n    return {\n      normalized_root_keys: Object.keys(root || {}),\n      heat_number: heat,\n      batch_number: batchFinal,\n      slab_number: slab,\n      grade: (() => {\n        const hdrGrade = preserveGrade(pick(hdr, ['grade', 'materialGrade', 'material_grade', 'material', 'specification']));\n        const recGrade = preserveGrade(pick(rec, ['grade', 'materialGrade', 'material_grade', 'material', 'specification']));\n        const miscSpec = preserveGrade(pick(misc, ['standard', 'specification', 'specifications']));\n\n        const candidates = [hdrGrade, recGrade, miscSpec].filter(v => v && !isBadGrade(v));\n        return candidates[0] || '';\n      })(),\n      manufacturer: (() => {\n        let val = asStr(pick(hdr, ['manufacturer', 'mill', 'supplier', 'issuedFrom', 'issued_from']));\n        if (!val) {\n          val = asStr(src.manufacturer_hint || src.manufacturer_name || src.detected_manufacturer || '');\n        }\n        return val;\n      })(),\n      certificate_number: asStr(pick(hdr, ['certificateNumber', 'certificate_number', 'certNumber', 'certNo', 'certificateNo', 'testReference', 'test_reference', 'reportNumber'])),\n      certificate_date: normalizeDate(pick(hdr, ['certificateDate', 'certificate_date', 'date', 'issueDate', 'issuedDate', 'reportDate'])),\n      country_of_melt: asStr(pick(misc, ['countryOfMeltPour', 'country_of_melt', 'meltCountry', 'countryOfMelt'])),\n      country_of_manufacture: asStr(pick(misc, ['countryOfManufacture', 'country_of_manufacture', 'countryOfOrigin', 'origin', 'manufacturedIn', 'madeIn']) || ''),\n      c: asChemNum(pick(chem, ['C', 'c'])),\n      mn: asNum(pick(chem, ['Mn', 'mn'])),\n      si: asNum(pick(chem, ['Si', 'si'])),\n      p: asChemNum(pick(chem, ['P', 'p'])),\n      s: asChemNum(pick(chem, ['S', 's'])),\n      b: asChemNum(pick(chem, ['B', 'b', 'boron', 'Boron'])),\n      v: asChemNum(pick(chem, ['V', 'v', 'vanadium', 'Vanadium'])),\n      nb: asChemNum(pick(chem, ['Nb', 'nb', 'niobium', 'Niobium'])),\n      ti: asChemNum(pick(chem, ['Ti', 'ti', 'titanium', 'Titanium'])),\n      al: asChemNum(pick(chem, ['Al', 'al', 'AL', 'A1', 'A1*', 'Al*', 'aluminum', 'aluminium'])),\n      cu: asNum(pick(chem, ['Cu', 'cu'])),\n      ni: asNum(pick(chem, ['Ni', 'ni'])),\n      cr: asNum(pick(chem, ['Cr', 'cr'])),\n      mo: asNum(pick(chem, ['Mo', 'mo'])),\n      yield_strength: asNum(pick(mech, ['yieldStrength', 'yield_strength'])),\n      tensile_strength: asNum(pick(mech, ['tensileStrength', 'tensile_strength'])),\n      elongation: asNum(pick(mech, ['elongation'])),\n      reduction_area: asNum(pick(mech, ['reductionArea', 'reduction_area'])),\n      hardness: asNum(pick(mech, ['hardness'])),\n      impact_charpy: asNum(pick(mech, ['impactCharpy', 'impact_charpy', 'impactCharpyAverage', 'impact_charpy_average'])) || \n        asNum(pick(charpy, ['average', 'avg', 'impact_average'])),\n      plate_dimension: asStr(\n        pick(mech, ['plateDimension', 'plate_dimension', 'plate dimension', 'Plate dimension', 'Plate_dimension', 'plate_dimensions', 'dimensions', 'dimension']) ||\n        pick(phys, ['plateDimension', 'plate_dimension', 'dimensions', 'dimension', 'size'])\n      ),\n      direction: asStr(\n        pick(mech, ['direction', 'dir', 'Dir', 'testDirection', 'test_direction']) ||\n        pick(charpy, ['direction', 'dir', 'testDirection', 'test_direction'])\n      ),\n      \n      impact_test_temp: asNum(\n        pick(charpy, ['testTemperature', 'test_temperature', 'temperature', 'temp']) ||\n        pick(mech, ['impact_test_temp', 'impactTestTemp'])\n      ),\n      impact_specimen_1: asNum(pick(charpy, ['specimen1', 'impact1', 'e1', 'energy1', 'result1'])),\n      impact_specimen_2: asNum(pick(charpy, ['specimen2', 'impact2', 'e2', 'energy2', 'result2'])),\n      impact_specimen_3: asNum(pick(charpy, ['specimen3', 'impact3', 'e3', 'energy3', 'result3'])),\n      impact_average: asNum(pick(charpy, ['average', 'avg', 'impact_average']) || pick(mech, ['impactCharpy', 'impact_average'])),\n      impact_coupon_size: asStr(pick(charpy, ['testSize', 'size', 'specimenSize'])),\n      algoma_gauge: asStr(pick(algoma, ['gauge'])),\n      algoma_cond: asStr(pick(algoma, ['cond','condition'])),\n      algoma_dir: asStr(pick(algoma, ['dir','direction'])),\n      algoma_loc: asStr(pick(algoma, ['loc','location'])),\n      algoma_srce: asStr(pick(algoma, ['srce','source'])),\n      algoma_lab: asStr(pick(algoma, ['lab','laboratory'])),\n      algoma_meth: asStr(pick(algoma, ['meth','method'])),\n      algoma_smpl_depth: asNum(pick(algoma, ['smpl_depth','sample_depth'])),\n      algoma_elongation_scale: asStr(pick(algoma, ['elongation_scale','el_scale'])),\n      algoma_roa: asNum(pick(algoma, ['roa','reduction_area'])),\n      gauge: asStr(pick(mech, ['gauge']) || pick(phys, ['diameter'])),\n      cond: asStr(pick(mech, ['cond', 'condition', 'condn'])),\n      dir: asStr(pick(mech, ['dir', 'direction'])),\n      loc: asStr(pick(mech, ['loc', 'location'])),\n      srce: asStr(pick(mech, ['srce', 'SRCE', 'source'])),\n      lab: asStr(pick(mech, ['lab', 'laboratory'])),\n      meth: asStr(pick(mech, ['meth', 'method'])),\n      smpl_depth: asNum(pick(mech, ['smpl_depth', 'smpldepth', 'sample_depth', 'sampleDepth'])),\n      elongation_scale: asStr(pick(mech, ['elongation_scale', 'elongationScale', 'el_scale', 'el_scale_in', 'el_scale_inch', 'elongation_scale_in'])),\n      roa: asNum(pick(mech, ['roa', 'reduction_area', 'reductionArea'])),\n      ssab: ssab,\n      charpy: charpy,\n    };\n  };\n\n  const baseRecords = records.length ? records : [];\n  if (!baseRecords.length) return [];\n\n  const mappedRecords = baseRecords.map(mapRec);\n  const expandedRecords = mappedRecords.flatMap((r) => {\n    const heats = splitHeats(r.heat_number);\n    if (heats.length <= 1) return [r];\n    return heats.map(h => ({ ...r, heat_number: h }));\n  });\n\n  const mergedMap = new Map();\n  for (const r of expandedRecords) {\n    const key = (r.heat_number || '').toString().trim();\n    if (!key) continue;\n    if (!mergedMap.has(key)) {\n      mergedMap.set(key, { ...r, _batch_set: new Set() });\n    }\n    const entry = mergedMap.get(key);\n    const b = (r.batch_number || '').toString().trim();\n    if (b) entry._batch_set.add(b);\n  }\n  const mergedRecordsFinal = Array.from(mergedMap.values()).map(r => {\n    const batches = Array.from(r._batch_set);\n    const batch_number = batches.length ? batches.join(', ') : (r.batch_number || '');\n    const { _batch_set, ...rest } = r;\n    return { ...rest, batch_number };\n  });\n\n  // Update pending record for first heat, create new for others\n  if (baseMtrId) {\n    return mergedRecordsFinal.map((r, idx) => ({\n      json: {\n        ...src,\n        ...r,\n        heat_number: (r.heat_number || src.heat_number || '').toString().trim(),\n        mtr_id: idx === 0 ? baseMtrId : '',\n        force_create: idx > 0,\n      },\n    }));\n  }\n\n  return mergedRecordsFinal\n    .filter(r => (r.heat_number || '').toString().trim() !== '')\n    .map((r, idx) => ({\n      json: {\n        ...src,\n        ...r,\n        heat_number: (r.heat_number || src.heat_number || '').toString().trim(),\n        mtr_id: idx === 0 ? (baseMtrId || '') : '',\n        force_create: idx > 0,\n      },\n    }));\n});\n"
      },
      "id": "5e1f2a25-d739-4546-9912-e59866bc4e75",
      "name": "Normalize For Odoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://brannon.eoxs.com/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.upsert_body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9dc551f6-f890-479c-8544-c13cbc89926e",
      "name": "Upsert MTR in Odoo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1264,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, idx) => {\n  const j = item.json;\n  const uid = j.result;\n  const dbName = (j.db_name || j.database || 'brannon').toString().trim();\n  if (!dbName) throw new Error('Missing database/db_name for Odoo upsert');\n  if (!uid) throw new Error(`Odoo authentication failed. uid was: ${uid}`);\n  const heat = (j.heat_number || '').toString().trim();\n  if (!heat) {\n    throw new Error(`Missing heat_number before upsert. Keys: ${Object.keys(j).join(', ')}`);\n  }\n  return {\n    json: {\n      ...j,\n      db_name: dbName,\n      rpc_url: j.rpc_url || `${j.odoo_url}/jsonrpc`,\n      upsert_body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: {\n          service: 'object',\n          method: 'execute_kw',\n          args: [\n            dbName,\n            uid,\n            j.odoo_password,\n            'mtr.data',\n            'upsert_from_payload',\n            [{\n              mtr_id: j.mtr_id,\n              heat_number: heat,\n              batch_number: j.batch_number,\n              force_create: j.force_create,\n              grade: j.grade,\n              manufacturer: j.manufacturer,\n              certificate_number: j.certificate_number,\n              certificate_date: j.certificate_date,\n              slab_number: j.slab_number,\n              c: j.c,\n              mn: j.mn,\n              si: j.si,\n              p: j.p,\n              s: j.s,\n              b: j.b,\n              v: j.v,\n              nb: j.nb,\n              ti: j.ti,\n              al: j.al,\n              cu: j.cu,\n              ni: j.ni,\n              cr: j.cr,\n              mo: j.mo,\n              yield_strength: j.yield_strength,\n              tensile_strength: j.tensile_strength,\n              elongation: j.elongation,\n              reduction_area: j.reduction_area,\n              hardness: j.hardness,\n              impact_charpy: j.impact_charpy,\n              plate_dimension: j.plate_dimension,\n              direction: j.direction,\n              impact_test_temp: j.impact_test_temp,\n              impact_coupon_size: j.impact_coupon_size,\n              impact_specimen_1: j.impact_specimen_1,\n              impact_specimen_2: j.impact_specimen_2,\n              impact_specimen_3: j.impact_specimen_3,\n              impact_average: j.impact_average,\n              country_of_melt: j.country_of_melt,\n              country_of_manufacture: j.country_of_manufacture,\n              source_file: j.source_file,\n            }],\n          ],\n        },\n        id: 2,\n      },\n    },\n  };\n});"
      },
      "id": "21d54992-7402-4ac4-bae6-073179097fec",
      "name": "Build Upsert Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.rpc_url}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.auth_body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0a083ef9-e6de-454d-b265-b66a8b95a577",
      "name": "Auth to Odoo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, idx) => {\n  const j = item.json;\n  const dbName = (j.db_name || j.database || '').toString().trim();\n  if (!dbName) throw new Error('Missing database/db_name for Odoo auth');\n  return {\n    json: {\n      ...j,\n      db_name: dbName,\n      rpc_url: `${j.odoo_url}/jsonrpc`,\n      auth_body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: {\n          service: 'common',\n          method: 'authenticate',\n          args: [dbName, j.odoo_login, j.odoo_password, {}],\n        },\n        id: 1,\n      },\n    },\n  };\n});"
      },
      "id": "dd84c29e-b5f9-4d90-8c5d-c0ad0ca642d3",
      "name": "Build Auth Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -304
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "mtr_id",
              "value": "={{ $json.mtr_id }}"
            },
            {
              "name": "odoo_url",
              "value": "https://brannon.eoxs.com"
            },
            {
              "name": "db_name",
              "value": "brannon"
            },
            {
              "name": "odoo_login",
              "value": "ayanduttaeoxs@gmail.com"
            },
            {
              "name": "odoo_password",
              "value": "ayanimin123"
            },
            {
              "name": "heat_number",
              "value": "={{ $json.heat_number }}"
            },
            {
              "name": "batch_number",
              "value": "={{ ($json.batch_number || '').toString() }}"
            },
            {
              "name": "grade",
              "value": "={{ $json.grade }}"
            },
            {
              "name": "manufacturer",
              "value": "={{ $json.manufacturer }}"
            },
            {
              "name": "certificate_number",
              "value": "={{ $json.certificate_number }}"
            },
            {
              "name": "certificate_date",
              "value": "={{ $json.certificate_date }}"
            },
            {
              "name": "impact_coupon_size",
              "value": "={{ $json.impact_coupon_size || '10x10' }}"
            },
            {
              "name": "country_of_melt",
              "value": "={{ $json.country_of_melt }}"
            },
            {
              "name": "country_of_manufacture",
              "value": "={{ $json.country_of_manufacture }}"
            },
            {
              "name": "gauge",
              "value": "={{$json.gauge}}"
            },
            {
              "name": "cond",
              "value": "={{$json.cond}}"
            },
            {
              "name": "dir",
              "value": "={{$json.dir}}"
            },
            {
              "name": "loc",
              "value": "={{$json.loc}}"
            },
            {
              "name": "srce",
              "value": "={{$json.srce}}"
            },
            {
              "name": "lab",
              "value": "={{$json.lab}}"
            },
            {
              "name": "meth",
              "value": "={{$json.meth}}"
            },
            {
              "name": "elongation_scale",
              "value": "={{$json.elongation_scale}}"
            },
            {
              "name": "ssab_elongation_gauge",
              "value": "={{$json.ssab_elongation_gauge}}"
            },
            {
              "name": "ssab_strength_unit",
              "value": "={{$json.ssab_strength_unit}}"
            },
            {
              "name": "ssab_test_direction",
              "value": "={{$json.ssab_test_direction}}"
            },
            {
              "name": "charpy_impact_energy_unit",
              "value": "={{$json.charpy_impact_energy_unit}}"
            },
            {
              "name": "charpy_test_direction",
              "value": "={{$json.charpy_test_direction}}"
            },
            {
              "name": "charpy_test_size",
              "value": "={{$json.charpy_test_size}}"
            },
            {
              "name": "charpy_test_temp_unit",
              "value": "={{$json.charpy_test_temp_unit}}"
            },
            {
              "name": "algoma_gauge",
              "value": "={{$json.algoma_gauge}}"
            },
            {
              "name": "algoma_cond",
              "value": "={{$json.algoma_cond}}"
            },
            {
              "name": "algoma_dir",
              "value": "={{$json.algoma_dir}}"
            },
            {
              "name": "algoma_loc",
              "value": "={{$json.algoma_loc}}"
            },
            {
              "name": "algoma_srce",
              "value": "={{$json.algoma_srce}}"
            },
            {
              "name": "algoma_lab",
              "value": "={{$json.algoma_lab}}"
            },
            {
              "name": "algoma_meth",
              "value": "={{$json.algoma_meth}}"
            },
            {
              "name": "algoma_elongation_scale",
              "value": "={{$json.algoma_elongation_scale}}"
            }
          ],
          "number": [
            {
              "name": "force_create",
              "value": "={{ $json.force_create ? 1 : 0 }}"
            },
            {
              "name": "c",
              "value": "={{$json.c}}"
            },
            {
              "name": "mn",
              "value": "={{$json.mn}}"
            },
            {
              "name": "si",
              "value": "={{$json.si}}"
            },
            {
              "name": "p",
              "value": "={{$json.p}}"
            },
            {
              "name": "s",
              "value": "={{$json.s}}"
            },
            {
              "name": "cu",
              "value": "={{$json.cu}}"
            },
            {
              "name": "ni",
              "value": "={{$json.ni}}"
            },
            {
              "name": "cr",
              "value": "={{$json.cr}}"
            },
            {
              "name": "mo",
              "value": "={{$json.mo}}"
            },
            {
              "name": "yield_strength",
              "value": "={{$json.yield_strength}}"
            },
            {
              "name": "tensile_strength",
              "value": "={{$json.tensile_strength}}"
            },
            {
              "name": "elongation",
              "value": "={{$json.elongation}}"
            },
            {
              "name": "reduction_area",
              "value": "={{$json.reduction_area}}"
            },
            {
              "name": "hardness",
              "value": "={{$json.hardness}}"
            },
            {
              "name": "impact_test_temp",
              "value": "={{$json.impact_test_temp}}"
            },
            {
              "name": "impact_specimen_1",
              "value": "={{$json.impact_specimen_1}}"
            },
            {
              "name": "impact_specimen_2",
              "value": "={{$json.impact_specimen_2}}"
            },
            {
              "name": "impact_specimen_3",
              "value": "={{$json.impact_specimen_3}}"
            },
            {
              "name": "impact_average",
              "value": "={{$json.impact_average}}"
            },
            {
              "name": "smpl_depth",
              "value": "={{$json.smpl_depth}}"
            },
            {
              "name": "roa",
              "value": "={{$json.roa}}"
            },
            {
              "name": "ssab_elongation_pct_c13",
              "value": "={{$json.ssab_elongation_pct_c13}}"
            },
            {
              "name": "ssab_elong_percent_2in",
              "value": "={{$json.ssab_elong_percent_2in}}"
            },
            {
              "name": "ssab_elong_percent_8in",
              "value": "={{$json.ssab_elong_percent_8in}}"
            },
            {
              "name": "ssab_hardness",
              "value": "={{$json.ssab_hardness}}"
            },
            {
              "name": "ssab_ra_percent",
              "value": "={{$json.ssab_ra_percent}}"
            },
            {
              "name": "ssab_test_temperature",
              "value": "={{$json.ssab_test_temperature}}"
            },
            {
              "name": "charpy_impact_e1",
              "value": "={{$json.charpy_impact_e1}}"
            },
            {
              "name": "charpy_impact_e2",
              "value": "={{$json.charpy_impact_e2}}"
            },
            {
              "name": "charpy_impact_e3",
              "value": "={{$json.charpy_impact_e3}}"
            },
            {
              "name": "charpy_impact_avg",
              "value": "={{$json.charpy_impact_avg}}"
            },
            {
              "name": "charpy_test_temperature",
              "value": "={{$json.charpy_test_temperature}}"
            },
            {
              "name": "algoma_smpl_depth",
              "value": "={{$json.algoma_smpl_depth}}"
            },
            {
              "name": "algoma_roa",
              "value": "={{$json.algoma_roa}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2abef26b-a342-4bed-b1f3-11e03154d267",
      "name": "Set Odoo + MTR Payload1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2432,
        -64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mtr-local",
        "options": {}
      },
      "id": "77069b47-6a66-4da6-a741-9d35d073ee85",
      "name": "Webhook MTR Upload1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2848,
        -1856
      ],
      "webhookId": "450fef97-d8f4-4483-a3f6-c3750556a89e"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const root = item.json || {};\n  const body = root.body || {};\n  const data = root.data || {};\n\n  const fileBase64 =\n    root.file_content_base64 ||\n    body.file_content_base64 ||\n    data.file_content_base64 ||\n    root.file_data ||\n    body.file_data ||\n    data.file_data;\n\n  const mtrId =\n    root.mtr_id ||\n    body.mtr_id ||\n    data.mtr_id ||\n    root.mtrId ||\n    body.mtrId ||\n    data.mtrId;\n\n  const normalizeId = (v) => {\n    if (v === undefined || v === null) return '';\n    if (typeof v === 'number') return String(v);\n    const s = String(v).trim();\n    if (!s) return '';\n    const m = s.match(/\\d+/);\n    return m ? m[0] : s;\n  };\n\n  const fileName =\n    root.file_name ||\n    body.file_name ||\n    data.file_name ||\n    'MTR.pdf';\n\n  if (!fileBase64) {\n    throw new Error(`Webhook payload missing file_content_base64. Keys: ${Object.keys(root).join(', ')}`);\n  }\n\n  // Simple deterministic hash (no crypto required)\n  const hashDjb2 = (str) => {\n    let h = 5381;\n    for (let i = 0; i < str.length; i++) {\n      h = ((h << 5) + h) + str.charCodeAt(i);\n      h |= 0;\n    }\n    return (h >>> 0).toString(16);\n  };\n\n  const pdfFingerprint = hashDjb2(fileBase64);\n\n  return {\n    json: {\n      ...root,\n      ...(Object.keys(body).length ? body : {}),\n      ...(Object.keys(data).length ? data : {}),\n      file_name: fileName,\n      file_content_base64: fileBase64,\n      pdf_fingerprint: pdfFingerprint,\n      mtr_id: normalizeId(mtrId),\n    },\n    binary: {\n      data0: {\n        data: fileBase64,\n        mimeType: 'application/pdf',\n        fileName,\n      },\n    },\n  };\n});\n"
      },
      "id": "1e81913d-2396-4ffd-bc74-29a9c62fd8be",
      "name": "Read Binary File1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        -1568
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Claude Extract": {
      "main": [
        [
          {
            "node": "Extract Claude Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Extract MTR": {
      "main": [
        [
          {
            "node": "Parse Claude Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Extract Request": {
      "main": [
        [
          {
            "node": "Claude Extract MTR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Manufacturer": {
      "main": [
        [
          {
            "node": "Map AI Manufacturer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Detect Manufacturer": {
      "main": [
        [
          {
            "node": "Parse Claude Manufacturer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Manufacturer Request": {
      "main": [
        [
          {
            "node": "Claude Detect Manufacturer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Manufacturer PDF": {
      "main": [
        [
          {
            "node": "Prepare Claude Manufacturer Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Prompt Exists": {
      "main": [
        [
          {
            "node": "Prepare Claude Extract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manufacturer Prompt Library": {
      "main": [
        [
          {
            "node": "Validate Prompt Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map AI Manufacturer": {
      "main": [
        [
          {
            "node": "Manufacturer Prompt Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Claude Output": {
      "main": [
        [
          {
            "node": "Normalize For Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate MTR Payload": {
      "main": [
        [
          {
            "node": "Build Auth Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach Auth + Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize For Odoo": {
      "main": [
        [
          {
            "node": "Set Odoo + MTR Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Auth + Payload": {
      "main": [
        [
          {
            "node": "Build Upsert Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upsert Request1": {
      "main": [
        [
          {
            "node": "Upsert MTR in Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auth Request1": {
      "main": [
        [
          {
            "node": "Auth to Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Odoo + MTR Payload1": {
      "main": [
        [
          {
            "node": "Validate MTR Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook MTR Upload1": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File1": {
      "main": [
        [
          {
            "node": "Set Manufacturer PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth to Odoo1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecff05a4-ecc2-47ad-bb54-8424cb0933ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ead906edc10fc4ba3c56c3a96693ccaf695d6f04f2ad35d4bf1008141e4fa520"
  },
  "id": "FdJiYHXVXCG43c7O",
  "tags": []
}